[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=amdcccle
Icon=ccc_large
Categories=GNOME;KDE;GTK;Qt;HardwareSettings;Settings;


Name=ATI Catalyst Control Center
Comment=Allows the configuration of the ATI graphics hardware settings.
Name[cs]=ATI Catalyst Control Center
Comment[cs]=Slouží ke konfiguraci nastavení grafického hardwaru ATI.
Name[da]=ATI Catalyst Control Center
Comment[da]=Muliggør konfiguration af ATI-grafikkens hardwareindstillinger.
Name[de]=ATI Catalyst Control Center
Comment[de]=Ermöglicht die Konfiguration der ATI-Grafikhardwareeinstellungen.
Name[el]=ATI Catalyst Control Center
Comment[el]=Επιτρέπει τη ρύθμιση παραμέτρων των ρυθμίσεων υλικού γραφικών ATI.
Name[es]=ATI Catalyst Control Center
Comment[es]=Permite la configuración del hardware de gráficos ATI.
Name[fi]=ATI Catalyst Control Center
Comment[fi]=Sallii ATI-grafiikkalaitteiston asetusten määrittämisen.
Name[fr]=ATI Catalyst Control Center
Comment[fr]=Permet la configuration des paramètres matériels des graphiques ATI.
Name[hu]=ATI Catalyst Control Center
Comment[hu]=Az ATI grafikus hardverbeállítások konfigurálását teszi lehetővé.
Name[it]=ATI Catalyst Control Center
Comment[it]=Consente la configurazione delle impostazioni hardware grafico ATI.
Name[ja]=ATI Catalyst Control Center
Comment[ja]=ATI グラフィック ハードウェア設定の構成を可能にする。
Name[ko]=ATI Catalyst Control Center
Comment[ko]=ATI 그래픽 하드웨어 설정에 대한 구성을 허용합니다.
Name[nl]=ATI Catalyst Control Center
Comment[nl]=Hiermee kunt u de grafische ATI-hardware-instellingen configureren.
Name[no]=ATI Catalyst Control Center
Comment[no]=Gjør det mulig å konfigurere ATIs grafikkmaskinvareinnstillinger.
Name[pl]=ATI Catalyst Control Center
Comment[pl]=Umożliwia konfigurowanie ustawień sprzętu graficznego firmy ATI.
Name[pt_BR]=ATI Catalyst Control Center
Comment[pt_BR]=Permite a definição das configurações de hardware gráfico da ATI.
Name[ru]=ATI Catalyst Control Center
Comment[ru]=Позволяет задать параметры аппаратного обеспечения графики ATI.
Name[sv]=ATI Catalyst Control Center
Comment[sv]=Möjliggör konfiguration av inställningar för ATI-grafikmaskinvara.
Name[th]=ATI Catalyst Control Center
Comment[th]=ยอมให้ตั้งค่าฮาร์ดแวร์กราฟิก ATI
Name[tr]=ATI Catalyst Control Center
Comment[tr]=ATI grafik donanım ayarlarının yapılandırılmasına olanak sağlar.
Name[zh_CN]=ATI Catalyst Control Center
Comment[zh_CN]=允许配置 ATI 图形硬件设置。
Name[zh_TW]=ATI Catalyst Control Center
Comment[zh_TW]=允許設定 ATI 圖形硬體設定。
