
[Desktop Entry]
Name=Jigsaw Download Manager
GenericName=Download Manager
Comment=Download files prepared for Jigdo
Exec=jigdo
Icon=jigdo-icon.png
Terminal=false
StartupWMClass="jigdo"
Type=Application
Categories=GTK;Application;Network;X-Fedora-Extra;
Encoding=UTF-8
X-Desktop-File-Install-Version=0.15
