
[Desktop Entry]
Name=SELinux Management
GenericName=SELinux
Comment=Configure SELinux in a graphical setting
StartupNotify=true
Icon=/usr/share/system-config-selinux/system-config-selinux.png
Exec=/usr/bin/system-config-selinux
Type=Application
Terminal=false
Categories=System;Security;Settings;
X-Desktop-File-Install-Version=0.15
