
[Desktop Entry]
Name=SELinux Policy Generation Tool
GenericName=SELinux
Comment=Generate SELinux policy modules
StartupNotify=true
Icon=/usr/share/system-config-selinux/system-config-selinux.png
Exec=/usr/bin/selinux-polgengui
Type=Application
Terminal=false
Categories=System;Security;
X-Desktop-File-Install-Version=0.15
