
[Desktop Entry]
Name=Devhelp
Name[ar]=‏دِڤ‌هِلب
Name[az]=DevHelp
Name[be]=Devhelp
Name[bg]=Devhelp
Name[bn]=Devhelp
Name[bn_IN]=Devhelp
Name[ca]=Devhelp
Name[cs]=DevHelp
Name[da]=Devhelp
Name[de]=Devhelp
Name[dz]=ཌེབ་ཧལཔ།
Name[en_CA]=Devhelp
Name[en_GB]=Devhelp
Name[et]=Devhelp
Name[fi]=Devhelp
Name[fr]=Devhelp
Name[gl]=Devhelp
Name[gu]=વિકાસ મદદ
Name[he]=DevHelp
Name[hr]=Devhelp
Name[hu]=Devhelp
Name[is]=Devhelp
Name[it]=Devhelp
Name[ja]=Devhelp
Name[lt]=Devhelp
Name[mk]=Devhelp
Name[ml]=Devhelp
Name[ms]=DevHelp
Name[nb]=Devhelp
Name[ne]=विकासकर्ताको मद्दत
Name[nl]=DevHulp
Name[nn]=Devhelp
Name[oc]=Devhelp
Name[or]=Devhelp
Name[pa]=ਵਿਕਾਸਸਹਾਈ
Name[pl]=Devhelp
Name[ps]=ډېوهېلپ
Name[pt_BR]=Devhelp
Name[ro]=Devhelp
Name[ru]=Devhelp
Name[sk]=Devhelp
Name[sl]=Devhelp
Name[sq]=Devhelp
Name[sr]=ДевХелп
Name[sr@latin]=DevHelp
Name[sv]=Devhelp
Name[ta]=டேவு உதவி(Devhelp)
Name[te]=డెవ్ సహాయం
Name[th]=Devhelp
Name[tr]=Devhelp
Name[uk]=Devhelp
Name[vi]=Trợ giúp phát triển
Name[zh_CN]=Devhelp
Name[zh_HK]=Devhelp
Name[zh_TW]=Devhelp
Comment=Developer's Help program
Comment[ar]=برنامج وثائق المطوِّرين
Comment[az]=İnkişafçının Yardım proqramı
Comment[be]=Праграма дапамогі распрацоўнікам
Comment[be@latin]=Prahrama ŭ dapamohu raspracoŭniku
Comment[bg]=Програма за помощ на разработчика
Comment[bn]=ডেভেলপারদের সহায়ক প্রোগ্রাম
Comment[bn_IN]=ডিভেলপারদের সহায়ক প্রোগ্রাম
Comment[ca]=Programa d'ajuda per als desenvolupadors
Comment[ca@valencia]=Programa d'ajuda per als desenvolupadors
Comment[cs]=Program nápovědy pro vývojáře
Comment[da]=Hjælpeprogram til udviklere
Comment[de]=Hilfeprogramm für Entwickler
Comment[dz]=བཟོ་མིའི་གྲོགས་རམལས་རིམ།
Comment[el]=Πρόγραμμα βοήθειας για προγραμματιστές
Comment[en_CA]=Developer's Help program
Comment[en_GB]=Developer's Help program
Comment[es]=Programa de ayuda del desarrollador
Comment[et]=Arendaja abiteabe programm
Comment[fi]=Kehittäjän Ohje
Comment[fr]=Programme d'aide pour les développeurs
Comment[gl]=Programa de axuda do desenvolvedor
Comment[gu]=વિકાસ કરનારાઓનો મદદ કાર્યક્રમ
Comment[he]=תוכנת עזרה למפתחים
Comment[hu]=Fejlesztők súgóprogramja
Comment[is]=Hjálparvafri fyrir þróendur
Comment[it]=Programma di aiuto per sviluppatori
Comment[ja]=開発者向けのヘルプ・ブラウザです
Comment[ko]=개발자를 위한 도움말 프로그램
Comment[lt]=Programuotojo žinynas
Comment[mk]=Помошна програма за програмери
Comment[ml]=ഡവലപ്പറിനെ സഹായിക്കുന്ന പ്റോഗ്റാം
Comment[ms]=Program Bantuan Pembangun
Comment[nb]=Hjelpleser for utviklere
Comment[ne]=विकाकर्ताको मद्दत कार्यक्रम
Comment[nl]=Hulpprogramma voor ontwikkelaars
Comment[nn]=Hjelplesar for utviklarar
Comment[or]=ବିକାଶକାରୀ ମାନଙ୍କର ସହୟତା ପ୍ରୋଗ୍ରାମ
Comment[pa]=ਵਿਕਾਸਵਾਦੀਆਂ ਲਈ ਸਹਾਈ ਕਾਰਜ
Comment[pl]=Program pomocy dla programistów
Comment[ps]=د پرمخبيونکو مرستندويه کړنلار
Comment[pt]=Aplicação de Ajuda aos Programadores
Comment[pt_BR]=Programa de ajuda para desenvolvedores
Comment[ro]=Program de ajutor pentru programatori
Comment[ru]=Программа справки для разработчиков
Comment[sk]=Program pomocníka pre vývojárov
Comment[sl]=Program za pomoč razvijalcem 
Comment[sq]=Program ndihmues për zhvilluesit
Comment[sr]=Програм за помоћ програмерима
Comment[sr@latin]=Program za pomoć programerima
Comment[sv]=Hjälpprogram för utvecklare
Comment[ta]=உற்பத்தியாளர்களின் உதவி நிரல்
Comment[te]=విస్తరింపజేయువారి సహాయ కార్యం
Comment[th]=โปรแกรมช่วยเหลือนักพัฒนา
Comment[tr]=Geliştirici Yardım programı
Comment[uk]=Програма довідки для розробників
Comment[vi]=Chương trình trợ giúp cho nhà phát triển
Comment[zh_CN]=开发者帮助程序
Comment[zh_HK]=程式開發者的說明書瀏覽程式
Comment[zh_TW]=程式開發者的說明書瀏覽程式
GenericName=Documentation Browser
GenericName[ar]=متصفّح التوثيق
GenericName[be]=Гартач дакумэнтацыі
GenericName[be@latin]=Hartač dakumentacyi
GenericName[bg]=Браузър за документация
GenericName[bn]=ডকুমেন্টেশন ব্রাউজার
GenericName[bn_IN]=নথিপত্র ব্রাউজার
GenericName[ca]=Navegador de documentació
GenericName[ca@valencia]=Navegador de documentació
GenericName[cs]=Prohlížeč dokumentace
GenericName[da]=Dokumentationsfremviser
GenericName[de]=Dokumentation durchsuchen
GenericName[dz]=ཡིག་ཐོག་བཀོད་པ་བརའུ་ཟར།
GenericName[el]=Περιηγητής τεκμηρίωσης
GenericName[en_CA]=Documentation Browser
GenericName[en_GB]=Documentation Browser
GenericName[es]=Visor de documentación
GenericName[et]=Dokumentatsioonisirvija
GenericName[fi]=Dokumentaatioselain
GenericName[fr]=Navigateur de documentation
GenericName[gl]=Navegador de documentación
GenericName[gu]=દસ્તાવેજીકરણ બ્રાઉઝર
GenericName[he]=דפדפן תיעוד
GenericName[hu]=Dokumentációböngésző
GenericName[it]=Esplorazione documentazione
GenericName[ja]=ドキュメント・ブラウザ
GenericName[ko]=문서 보기
GenericName[lt]=Dokumentacijos naršyklė
GenericName[mk]=Прелистувач за документација
GenericName[ml]=ഡോക്യുമെന്‍റേഷന്‍ ബ്റൌസറ്‍
GenericName[nb]=Dokumentasjonsvisning
GenericName[ne]=मिसिलिकरण ब्राउजर
GenericName[nl]=Documentatie-browser
GenericName[nn]=Dokumentasjonsvising
GenericName[oc]=Navigador de documentacion
GenericName[or]=ଦଲିଲକରଣ ବ୍ରାଉଜର
GenericName[pl]=Przeglądarka dokumentacji
GenericName[ps]=د لاسوندونې لټوونی
GenericName[pt]=Navegador de Documentação
GenericName[pt_BR]=Navegador da Documentação
GenericName[ro]=Navigator doumentație
GenericName[ru]=Поиск и чтение документации разработчика
GenericName[sl]=Pregledovalnik dokumentacije
GenericName[sq]=Shfletimi i dokumentimeve
GenericName[sr]=Прегледник документације
GenericName[sr@latin]=Preglednik dokumentacije
GenericName[sv]=Dokumentationsläsare
GenericName[ta]=உரையேட்டின் வலையோடு
GenericName[te]=పత్రరచన అన్వ్వేషి
GenericName[th]=เครื่องมือเรียกดูเอกสาร
GenericName[tr]=Belgelendirme Tarayıcısı
GenericName[uk]=Перегляд документації
GenericName[vi]=Bộ duyệt tài liệu
GenericName[zh_CN]=文档浏览器
GenericName[zh_HK]=文件瀏覽器
GenericName[zh_TW]=文件瀏覽器
Exec=devhelp
Terminal=false
Type=Application
Icon=devhelp
Categories=GNOME;GTK;Development;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=devhelp
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
