[Desktop Entry]
Name=HTTP
Name[ar]=HTTP
Name[as]=HTTP
Name[bg]=HTTP
Name[bn]=HTTP
Name[bn_IN]=HTTP
Name[ca]=HTTP
Name[cs]=HTTP
Name[cy]=HTTP
Name[da]=HTTP
Name[de]=HTTP
Name[el]=HTTP
Name[en_GB]=HTTP
Name[es]=HTTP
Name[et]=HTTP
Name[fa]=اچ‌تی‌تی‌پی
Name[fi]=HTTP
Name[fr]=HTTP
Name[gu]=HTTP
Name[hi]=HTTP
Name[hr]=HTTP
Name[hu]=HTTP
Name[hy]=HTTP
Name[id]=HTTP
Name[is]=HTTP
Name[it]=HTTP
Name[ja]=HTTP
Name[ka]=HTTP
Name[kn]=HTTP
Name[ko]=HTTP
Name[mk]=HTTP
Name[ml]=HTTP
Name[mr]=HTTP
Name[ms]=HTTP
Name[nb]=HTTP
Name[nl]=HTTP
Name[or]=ଏଚ୍.ଟି.ଟି.ପି.
Name[pa]=HTTP
Name[pl]=HTTP
Name[pt]=HTTP
Name[pt_BR]=HTTP
Name[ro]=HTTP
Name[ru]=HTTP
Name[sk]=HTTP
Name[sl]=HTTP
Name[sr]=HTTP
Name[sr@latin]=HTTP
Name[sv]=HTTP
Name[ta]=HTTP
Name[te]=HTTP
Name[tr]=HTTP
Name[uk]=HTTP
Name[ur]=ایچ ٹی ٹی پی
Name[vi]=HTTP
Name[zh_CN]=HTTP
Name[zh_TW]=HTTP
Comment=Configure the HTTP server
Comment[ar]=ÙÙ Ø¨ØªÙÙØ¦Ø© Ø®Ø§Ø¯Ù HTTP
Comment[as]=HTTP সেৱক বিন্যাস কৰক
Comment[bg]=Настройка на HTTP сървъра
Comment[bn]=HTTP সার্ভার কনফিগার করুন
Comment[bn_IN]=HTTP সার্ভার কনফিগার করুন
Comment[ca]=Configureu el servidor HTTP
Comment[cs]=Nastavit HTTP server
Comment[cy]=Cyflunio'r gweinydd HTTP
Comment[da]=Konfigurér HTTP-serveren
Comment[de]=HTTP-Server konfigurieren
Comment[en_GB]=Configure the HTTP server
Comment[es]=Configurar el servidor HTTP
Comment[et]=Seadista HTTP server
Comment[fa]=پیکربندی کارگزار اچ‌تی‌تی‌پی
Comment[fi]=Tee HTTP-palvelimen asetukset
Comment[fr]=Configurer le serveur HTTP
Comment[gl]=Cofigurar o servidor HTTP
Comment[gu]=HTTP સર્વર રુપરેખાંકિત કરો
Comment[hi]=HTTP सर्वर को विन्यस्त करें
Comment[hr]=Konfiguriranje HTTP poslužitelja
Comment[hu]=A HTTP kiszolgáló beállítása
Comment[hy]=HTTP սերվերը փոփոխել
Comment[id]=Konfigurasi server HTTP
Comment[is]=Stillingar vefþjóns
Comment[it]=Configurare il server HTTP
Comment[ja]=HTTP サーバーを設定
Comment[ka]=HTTP სერვერის კონფიგურირება
Comment[kn]=HTTP ಪರಿಚಾರಕವನ್ನು ಸಂರಚಿಸು
Comment[ko]=HTTP 서버 설정
Comment[mk]=Конфигурирајте го HTTP серверот
Comment[ml]=HTTP സര്‍വര്‍ ക്രമീകരിക്കുക
Comment[mr]=HTTP सर्व्हर संरचीत करा
Comment[ms]=Konfigurasi pelayan HTTP
Comment[nb]=Konfigurer HTTP-tjeneren
Comment[nl]=De HTTP-server configureren
Comment[or]=ଏଚ୍.ଟି.ଟି.ପି. ସେବକ କୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=HTTP ਸਰਵਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja serwera HTTP
Comment[pt]=Configurar o servidor HTTP
Comment[pt_BR]=Configure o servidor HTTP
Comment[ro]=Configurează serverul HTTP
Comment[ru]=Настройка сервера HTTP
Comment[sk]=Konfigurovať HTTP server
Comment[sl]=Prikroji strežnik HTTP
Comment[sr]=Подешава HTTP сервер
Comment[sr@latin]=Podešava HTTP server
Comment[sv]=Konfigurera HTTP-servern
Comment[ta]=HTTP சேவைகத்தைக் கட்டமைக்கவும்
Comment[te]=HTTP సేవిక ను ఆకృతీకరించు
Comment[tr]=HTTP sunucu yapılandırması
Comment[uk]=Налаштовування HTTP сервера
Comment[ur]=ایچ ٹی ٹی پی سرور کی ترتیب اجراہ
Comment[vi]=Cấu hình máy chủ HTTP
Comment[zh_CN]=配置 HTTP 服务器
Comment[zh_TW]=設定 HTTP 伺服器
Exec=system-config-httpd
Terminal=0
Type=Application
Icon=system-config-httpd.png
Encoding=UTF-8
X-Desktop-File-Install-Version=0.2
Categories=X-Red-Hat-Base;System;X-Red-Hat-ServerConfig;Application;
