[Desktop Entry]
Encoding=UTF-8
Name=Accessibility
Name[af]=Toeganklikheid
Name[am]=በቀላሉ የሚገኝ
Name[ar]=المَوْصِليّة
Name[as]=অভিগম্যতা
Name[be]=Даступнасьць
Name[bg]=Достъпност
Name[bn]=ব্যবহারযোগ্যতা
Name[bn_IN]=ব্যবহার সহায়তা
Name[ca]=Accessibilitat
Name[cs]=Usnadnění
Name[cy]=Hygyrchedd
Name[da]=Tilgængelighed
Name[de]=Zugriffsmöglichkeit
Name[el]=Προσιτότητα
Name[en_GB]=Accessibility
Name[es]=Accesibilidad
Name[et]=Kättesaadavus
Name[fa]=دستیابی پذیری
Name[fi]=Esteettömyys
Name[fr]=Accessibilité
Name[gl]=Accesibilidade
Name[gu]=સુલભતા
Name[he]=נגישות
Name[hi]=पहुँच
Name[hr]=Pristupačnost
Name[hu]=Kisegítő lehetőségek
Name[hy]=Մատչելիություն
Name[id]=Kemudahan Akses
Name[ilo]=Aksesibilidad
Name[is]=Aðgengi
Name[it]=Accessibilità
Name[ja]=アクセシビリティ
Name[ka]=დამხმარე საშუალებები
Name[kn]=ಸುಲಭಲಭ್ಯತೆ (Accessibility)
Name[ko]=접근성 기능
Name[lt]=Prieinamumas
Name[lv]=Kustību traucējumi
Name[mk]=Пристапност
Name[ml]=അക്സസ്സബിളിറ്റി
Name[mr]=सुलभताधता
Name[ms]=Kebolehcapaian
Name[nb]=Tilgjengelighet
Name[nl]=Toegankelijkheid
Name[nso]=Go Tsenega
Name[or]=ଅଭିଗମ୍ଯତା
Name[pa]=ਅਸੈੱਸੀਬਿਲਟੀ
Name[pl]=Dostępność
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Специальные возможности
Name[si]=ප්‍රවේශ
Name[sk]=Dostupnosť
Name[sl]=Dostopnost
Name[sr]=Приступачност
Name[sr@latin]=Pristupačnost
Name[sv]=Tillgänglighet
Name[ta]=அணுகல்
Name[te]=ఆమోదయోగ్యత
Name[th]=สิ่งอำนวยความสะดวก
Name[tr]=Erişilebilirlik
Name[uk]=Спеціальні можливості
Name[ur]=قا بل رسا ی
Name[vi]=Truy nhập
Name[zh_CN]=辅助功能
Name[zh_TW]=輔助工具
Name[zu]=Ukungenisa
Comment=Accessibility settings
Comment[af]=Toeganklikheidsopstelling
Comment[am]=በቀላሉ የሚገኝ አቀማመጥ
Comment[ar]=إعدادات المَوْصِليّة
Comment[as]=অভিগম্যতা পৰিবেশ
Comment[be]=Выстаўленьні даступнасьці
Comment[bg]=Настройки за достъпност
Comment[bn]=ব্যবহারযোগ্যতার বৈশিষ্ট্য
Comment[bn_IN]=ব্যবহার সহায়তা সংক্রান্ত বৈশিষ্ট্য
Comment[ca]=Configuracions d'accessibilitat
Comment[cs]=Nastavení usnadnění
Comment[cy]=Gosodiadau hygyrchedd
Comment[da]=Tilgængelighedsindstillinger
Comment[de]=Zugriffseinstellungen
Comment[el]=Ρυθμίσεις προσιτότητας
Comment[en_GB]=Accessibility settings
Comment[es]=Configuración de la accesibilidad 
Comment[et]=Kättesaadavuse seaded
Comment[fa]=تنظیمات دستیابی
Comment[fi]=Esteettömyysasetukset
Comment[fr]=Paramètres d'accessibilité
Comment[gu]=સુલભતા સુયોજનો
Comment[he]=אפשרויות נגישות
Comment[hi]=पहुँच सेटिंग
Comment[hr]=Postavke pristupačnosti
Comment[hu]=Kisegítő lehetőségek beállításai
Comment[hy]=Մատչելիության արգումենտներ
Comment[id]=Setting kemudahan akses
Comment[ilo]=Pakaitudingan ti aksesibilidad
Comment[is]=Stillingar aðgengis
Comment[it]=Impostazioni di accesso
Comment[ja]=アクセシビリティ設定
Comment[ka]=დამხმარე საშუალებების პარამეტრები
Comment[kn]=ಸುಲಭಲಭ್ಯತೆ ಸಂಯೋಜನೆಗಳು
Comment[ko]=접근성 설정
Comment[lt]=Pasiekiamumo nustatymai
Comment[lv]=Kustību traucējumu iestatījumi
Comment[mk]=Поставувања за пристапноста
Comment[ml]=അക്സസ്സബിളിറ്റി സജ്ജീകരണങ്ങള്‍
Comment[mr]=सुलभतांची रचना
Comment[ms]=Tetapan Kebolehcapaian
Comment[nb]=Innstillinger for tilgjengelighet
Comment[nl]=Toegankelijkheidsinstellingen
Comment[nso]=Dipeakanyo tša go tsenega
Comment[or]=ଅଭିଗମ୍ଯତା ବିନ୍ଯାସ
Comment[pa]=ਅਸੈੱਸੀਬਿਲਟੀ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia dostępności
Comment[pt]=Configuração da acessibilidade
Comment[pt_BR]=Configurações de acessibilidade
Comment[ro]=Setări accesibilitate
Comment[ru]=Настройка специальных возможностей
Comment[si]=ප්‍රවේශ සැකසුම්
Comment[sk]=Nastavenia pre postihnutých
Comment[sl]=Nastavitve dostopnosti
Comment[sr]=Подешавања приступачности
Comment[sr@latin]=Podešavanja pristupačnosti
Comment[sv]=Tillgänglighetsinställningar
Comment[ta]=அணுகல் அமைவுகள்
Comment[te]=ఆమోదయోగ్య అమర్పులు
Comment[th]=ตั้งค่าการอำนวยความสะดวก
Comment[tr]=Erişilebilirlik ayarları
Comment[uk]=Налаштовування спеціальних можливостей
Comment[ur]=قا بل رسا ی تر تیبات
Comment[vi]=Thiết lập truy nhập
Comment[zh_CN]=辅助功能设置
Comment[zh_TW]=輔助工具設定
Comment[zu]=Izilungiselelo zokungenisa
Exec=gnome-accessibility-keyboard-properties
Icon=accessibility-directory.png
Terminal=0
Type=Application
Categories=Application;Settings;Accessibility;X-Red-Hat-Base;
OnlyShowIn=GNOME;
