[Desktop Entry]
Name=Photo Tool
Name[ar]=أدوات الصور
Name[as]=আলোকচিত্ৰৰ সৰঞ্জাম
Name[bg]=Фото инструмент
Name[bn_IN]=ফোটো ব্যবহারের সামগ্রী
Name[ca]=Eina per a fotografies
Name[cs]=Nástroje na fotky
Name[cy]=Offer Ffoto
Name[da]=Billedværktøj
Name[de]=Foto-Werkzeuge
Name[el]=Εργαλείο φωτογραφιών
Name[en_GB]=Photo Tool
Name[es]=Herramienta de Fotos
Name[et]=Fotohaldur
Name[fa]=ابزار عکس
Name[fi]=Kuvatyökalut
Name[fr]=Outil photo
Name[gu]=ફોટો સાધન
Name[he]=כלי לתמונות
Name[hi]=फोटो औज़ार
Name[hr]=Alat za fotografije
Name[hu]=Fotóeszköz
Name[id]=Alat Bantu Foto
Name[is]=Myndatól
Name[it]=Strumento Foto
Name[ja]=フォトツール
Name[kn]=ಛಾಯಾಚಿತ್ರ ಉಪಕರಣ
Name[ko]=사진 도구
Name[lv]=Bilžu instruments
Name[mk]=Алатка за слики
Name[ml]=ഫോട്ടോ ടൂള്‍
Name[mr]=छायाचित्र साधान
Name[ms]=Alatan Gambar
Name[nb]=Bildeverktøy
Name[nl]=Fotogereedschap
Name[or]=ଚିତ୍ର ଉପକରଣ
Name[pa]=ਫੋਟੋ ਟੂਲ
Name[pl]=Narzędzie do zdjęć
Name[pt]=Ferramenta Fotográfica
Name[pt_BR]=Ferramenta de fotos
Name[ro]=Unealtă Fotografie
Name[ru]=Работа с фото
Name[si]=පිළිඹිබු මෙවලම
Name[sk]=Foto nástroj
Name[sr]=Фото алат
Name[sr@latin]=Foto alat
Name[sv]=Fotoverktyg
Name[ta]=நிழல்பட கருவி
Name[te]=చిత్ర ఉపకరణ
Name[th]=เครื่องมือรูปถ่าย
Name[uk]=Робота з фото
Name[zh_CN]=相片工具
Name[zh_TW]=相片工具
GenericName=Photo Tool
GenericName[ar]=أدوات الصور
GenericName[as]=আলোকচিত্ৰৰ সৰঞ্জাম
GenericName[bg]=Фото инструмент
GenericName[bn_IN]=ফোটো ব্যবহারের সামগ্রী
GenericName[ca]=Eina per a fotografies
GenericName[cs]=Nástroje na fotky
GenericName[cy]=Offer Ffoto
GenericName[da]=Billedværktøj
GenericName[de]=Foto-Werkzeuge
GenericName[el]=Εργαλείο φωτογραφιών
GenericName[en_GB]=Photo Tool
GenericName[es]=Herramienta de Fotos
GenericName[et]=Fotohaldur
GenericName[fa]=ابزار عکس
GenericName[fi]=Kuvatyökalut
GenericName[fr]=Outil photo
GenericName[gu]=ફોટો સાધન
GenericName[he]=כלי לתמונות
GenericName[hi]=फोटो औज़ार
GenericName[hr]=Alat za fotografije
GenericName[hu]=Fotóeszköz
GenericName[id]=Alat Bantu Foto
GenericName[is]=Myndatól
GenericName[it]=Strumento Foto
GenericName[ja]=フォトツール
GenericName[kn]=ಛಾಯಾಚಿತ್ರ ಉಪಕರಣ
GenericName[ko]=사진 도구
GenericName[lv]=Bilžu instruments
GenericName[mk]=Алатка за слики
GenericName[ml]=ഫോട്ടോ ടൂള്‍
GenericName[mr]=छायाचित्र साधान
GenericName[ms]=Alatan Gambar
GenericName[nb]=Bildeverktøy
GenericName[nl]=Fotogereedschap
GenericName[or]=ଚିତ୍ର ଉପକରଣ
GenericName[pa]=ਫੋਟੋ ਟੂਲ
GenericName[pl]=Narzędzie do zdjęć
GenericName[pt]=Ferramenta Fotográfica
GenericName[pt_BR]=Ferramenta de fotos
GenericName[ro]=Unealtă Fotografie
GenericName[ru]=Работа с фото
GenericName[si]=පිළිඹිබු මෙවලම
GenericName[sk]=Foto nástroj
GenericName[sr]=Фото алат
GenericName[sr@latin]=Foto alat
GenericName[sv]=Fotoverktyg
GenericName[ta]=நிழல்பட கருவி
GenericName[te]=చిత్ర ఉపకరణ
GenericName[th]=เครื่องมือรูปถ่าย
GenericName[uk]=Робота з фото
GenericName[zh_CN]=相片工具
GenericName[zh_TW]=相片工具
Comment=Organize your digital photos
Comment[ar]=نظم صورك الرقمية
Comment[as]=আপোনাৰ ডিজিটেল আলোকচিত্ৰ সংগঠিত কৰক
Comment[bg]=Организатор за цифрови снимки
Comment[bn_IN]=ডিজিটাল ফোটো সুবিন্যস্ত করুন
Comment[ca]=Organitzeu les vostres fotografies digitals
Comment[cs]=Rozřídit digitální fotografie
Comment[cy]=Rheoli eich ffotographau
Comment[da]=Organisér dine digitale billeder
Comment[de]=Organisieren Sie Ihre digitalen Fotos
Comment[el]=Οργάνωση των φωτογραφιών σας
Comment[en_GB]=Organize your digital photos
Comment[es]=Organice sus fotos digitales
Comment[et]=Digitaalsete fotode haldamine
Comment[fa]=سازمان دهی عکس های دیجیتالی
Comment[fi]=Järjestele digikuviasi
Comment[fr]=Organisez vos photos numériques
Comment[gu]=તમારા ડિજીટલ ફોટાઓ આયોજીત કરો
Comment[he]=סדר תמונות דיגיטליות
Comment[hi]=अपना डिज़िटल फोटो व्यवस्थित करें
Comment[hr]=Organizirajte svoje digitalne fotografije
Comment[hu]=Digitális fotók rendszerezése
Comment[id]=Atur foto digital anda
Comment[is]=Skipuleggja stafrænar myndir
Comment[it]=Organizza le foto digitali
Comment[ja]=あなたのデジタル写真を編成する
Comment[kn]=ನಿಮ್ಮ ಡಿಜಿಟಲ್ ಛಾಯಾಚಿತ್ರಗಳನ್ನು ಸಂಘಟಿಸು
Comment[ko]=전자 사진 구성
Comment[lv]=Kārtot digitālās bildes
Comment[mk]=Организирајте ги Вашите слики
Comment[ml]=നിങ്ങളുടെ ഡിജിറ്റല്‍ ഫോട്ടോകള്‍ ക്രമപ്പെടുത്തുക
Comment[mr]=डीजीटल छायाचित्र संघटीत करा
Comment[ms]=Susun gambar digital anda
Comment[nb]=Organiser dine digitale bilder
Comment[nl]=Organiseer uw digitale foto's
Comment[or]=ଆପଣଙ୍କ ଅଂକୀୟ ଚିତ୍ର ମାନଙ୍କୁ ସଙ୍ଗଠିତ କରନ୍ତୁ
Comment[pa]=ਤੁਹਾਡੀ ਡਿਜ਼ੀਟਲ ਫੋਟੋ ਪਰਬੰਧਨ
Comment[pl]=Organizowanie zdjęć cyfrowych
Comment[pt]=Organizar as suas fotografias digitais
Comment[pt_BR]=Organize as suas fotos digitais
Comment[ro]=Organizează fotografiile digitale
Comment[ru]=Организация ваших цифровых фото
Comment[si]=ඔබගේ අංකිත පිතුර පිළිවෙළකට සකසා ගන්න
Comment[sk]=Organizovanie vašich digitálnych záberov
Comment[sr]=Организујте своје дигиталне фотографије
Comment[sr@latin]=Organizujte svoje digitalne fotografije
Comment[sv]=Organisera dina digitala kort
Comment[ta]=உங்கள் டிஜிட்டல் நிழல்படங்களை வரிசைப்படுத்துதல்
Comment[te]=నీ అంకపదమితి చిత్రాలను నిర్వహించు
Comment[th]=จัดการรูปภาพดิจิตอลของคุณ
Comment[uk]=Впорядкування ваших цифрових фото
Comment[zh_CN]=组织您的数码相片
Comment[zh_TW]=管理您的數位相片
Categories=Application;Graphics;Viewer;X-Red-Hat-Base;
Encoding=UTF-8
Exec=gthumb
Icon=gthumb.png
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gthumb
X-GNOME-Bugzilla-Component=general
X-GNOME-DocPath=gthumb/gthumb.xml
