[Desktop Entry]
Name=OpenOffice.org Printer Setup
Name[af]=OpenOffice.org-drukkeropstelling
Name[am]=OpenOffic.org የማተሚያ አቀማመጥ
Name[ar]=إعداد طابعة OpenOffice.org
Name[as]=OpenOffice.org মুদ্ৰক প্ৰতিষ্ঠাপন
Name[be]=Наладка друкаркі для OpenOffice.org
Name[bg]=Настройка на принтер за OpenOffice.org
Name[bn]=OpenOffice.org প্রিন্টার ব্যবহারের প্রস্তুতি সম্পন্ন করো
Name[bn_IN]=OpenOffice.org প্রিন্টার স্থাপনা
Name[ca]=Configuració de la impressora a OpenOffice.org
Name[cs]=OpenOffice.org Nastavení tiskárny
Name[cy]=Cyfluniad Argraffydd OpenOffice.org
Name[da]=OpenOffice.org printeropsætning
Name[de]=OpenOffice.org-Druckereinrichtung
Name[el]=Ρύθμιση εκτυπωτή OpenOffice.org
Name[en_GB]=OpenOffice.org Printer Setup
Name[es]=Configuración de la impresora OpenOffice.org
Name[et]=OpenOffice.org printerite seadistamine
Name[fa]=برپا سازی چاپگر OpenOffice.org
Name[fi]=OpenOffice.org-tulostinasetukset
Name[fr]=Configuration de l'imprimante pour OpenOffice.org
Name[gu]=Openoffice.org પ્રિન્ટર સુયોજન
Name[he]=הגדרת מדפסת עבור OpenOffice.org
Name[hi]=OpenOffice.org मुद्रक सेटिंग
Name[hr]=OpenOffice.org postavke pisača
Name[hu]=OpenOffice.org - Nyomtatóbeállítás
Name[hy]=OpenOffice.org պրինտերի տեղադրում
Name[id]=Setup Printer OpenOffice.org
Name[is]=OpenOffice.org prentstillingar
Name[it]=Configurazione stampante OpenOffice.org
Name[ja]=OpenOffice.orgのプリンター設定
Name[ka]=OpenOffice.org-ის პრინტერის პარამეტრები
Name[kn]=OpenOffice.org ಮುದ್ರಕ ಸಂಯೋಜನೆ
Name[ko]=OpenOffice.org 프린터 설정
Name[lt]=OpenOffice.org Spausdintuvo Nustatymai
Name[lv]=OpenOffice.org drukas ierīce
Name[mk]=Поставување на печатач за OpenOffice.org
Name[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗിനുള്ള പ്രിന്റ് സജ്ജീകരണം
Name[mr]=OpenOffice.org छपाई संरचना
Name[ms]=Tetapan Pencetak OpenOffice.org
Name[nb]=Skriveroppsett for OpenOffice.org
Name[nl]=OpenOffice.org printerconfiguratie
Name[nso]=Peakanyo ya Segatiši ya OpenOffice.org
Name[or]=OpenOffice.org ମୂଦ୍ରଣୀ ବିନ୍ଯାସ
Name[pa]=OpenOffice.org ਪਰਿੰਟਰ ਸੈਟਅੱਪ
Name[pl]=Konfiguracja drukarek OpenOffice.org
Name[pt]=Configuração de Impressoras do OpenOffice.org
Name[pt_BR]=Configuração de impressoras do OpenOffice.org
Name[ro]=Setare imprimantă OpenOffice.org
Name[ru]=Настройка принтера OpenOffice.org
Name[si]=OpenOffice.org මුද්‍රණ සැකසුම
Name[sk]=Nastavenie tlačiarne OpenOffice.org
Name[sl]=Nastavitev tiskalnika za OpenOffice.org
Name[sr]=OpenOffice.org подешавање штампача
Name[sr@latin]=OpenOffice.org podešavanje štampača
Name[sv]=Skrivarkonfiguration för OpenOffice.org
Name[ta]=OpenOffice.org அச்சடிப்பி அமைவு
Name[te]=OpenOffice.org ముద్రక అమర్పు
Name[th]=ตั้งค่าเครื่องพิมพ์ OpenOffice.org
Name[tr]=OpenOffice.org Yazıcı Ayarları
Name[uk]=Налаштовування принтера OpenOffice.org
Name[ur]=پرنٹر کی تر تیبا ت OpenOffice.org
Name[vi]=Thiết lập máy in OpenOffice.org
Name[zh_CN]=OpenOffice.org 打印机设置
Name[zh_TW]=OpenOffice.org 印表機設定
Name[zu]=Umiso Lomshicileli we-OpenOffice.org
Comment=Set up printers for OpenOffice.org applications
Comment[af]=Stel drukkers vir OpenOffice.org-toepassings op
Comment[am]=ለOpenOffice.org መጠቀሚያ ፕሮግራሞች ማተሚያውን አስተካከል
Comment[ar]=إعداد الطّابعات لتطبيقات OpenOffice.org
Comment[as]=OpenOffice.org ৰ অনুপ্ৰয়োগৰ বাবে মুদ্ৰক যন্ত্ৰসমূহক প্ৰতিষ্ঠা কৰক
Comment[be]=Наладка друкаркі для дастасаваньняў OpenOffice.org
Comment[bg]=Настройка на принтери за OpenOffice.org приложения
Comment[bn]=OpenOffice.org অ্যাপ্লিকেশনের জন্য প্রিন্টার ব্যবহারের প্রস্তুতি সম্পন্ন করো
Comment[bn_IN]=OpenOffice.org অ্যাপ্লিকেশন সংকলনের জন্য প্রিন্টার স্থাপনা
Comment[ca]=Configureu les impressores per a les aplicacions de l'OpenOffice.org
Comment[cs]=Nastavit tiskárny pro aplikace OpenOffice.org
Comment[cy]=Cyflunio argraffyddion ar gyfer cymhwysiadau OpenOffice.org
Comment[da]=Opsætning af printere til programmer i OpenOffice.org
Comment[de]=Drucker für OpenOffice.org-Anwendungen einrichten
Comment[el]=Ρυθμίσεις εκτυπωτών για εφαρμογές OpenOffice.org
Comment[en_GB]=Set up printers for OpenOffice.org applications
Comment[es]=Configuración de las impresoras para las aplicaciones OpenOffice.org
Comment[et]=OpenOffice.org rakendustele printerite seadistamine
Comment[fa]=برپاسازی چاپگر برای نرم افزارهای OpenOffice.org
Comment[fi]=Aseta tulostimet OpenOffice.org-sovelluksille
Comment[fr]=Configuration des imprimantes pour les applications OpenOffice.org
Comment[gu]=Openoffice.org કાર્યક્રમો માટે પ્રિન્ટર સુયોજિત કરો
Comment[he]=הגדרת מדפסות עבור יישומי OpenOffice.org
Comment[hi]=OpenOffice.org अनुप्रयोग के लिए मुद्रकों को व्यवस्थित करें
Comment[hr]=Postavljanje pisače za OpenOffice.org aplikacije
Comment[hu]=Nyomtatóbeállítás az OpenOffice.org alkalmazásokhoz
Comment[hy]=OpenOffice.org–ի համառ պրինտերներ տեղադրել
Comment[id]=Setup printer untuk aplikasi OpenOffice.org
Comment[is]=Stilla prentara fyrir OpenOffice.org forrit
Comment[it]=Configurazione delle stampanti per le applicazioni OpenOffice.org
Comment[ja]=OpenOffice.orgアプリケーション用のプリンターを設定します
Comment[ka]=პრინტერების გამართვა OpenOffice.org-ის პროგრამებისათვის
Comment[kn]=OpenOffice.org ಅನ್ವಯಗಳಿಗೆ ಮುದ್ರಕಗಳನ್ನು ಸಂಯೋಜಿಸಿ
Comment[ko]=OpenOffice.org 응용프로그램을 위한 프린터 설정
Comment[lt]=Konfiguruoti spausdintuvus OpenOffice.org programoms
Comment[lv]=Iestatīt drukas ierīces OpenOffice.org programmām
Comment[mk]=Поставете ги печатачите за OpenOffice.org апликациите
Comment[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗിനുള്ള പ്രയോഗങ്ങള്‍ക്കായി പ്രിന്ററുകള്‍ സജ്ജമാക്കുക
Comment[mr]=छपाईयंत्र OpenOffice.org अनुप्रयोगांसाठी संरचित करा
Comment[ms]=Menetapkan pencetak bagi aplikasi OpenOffice.org
Comment[nb]=Konfigurer skrivere for OpenOffice.org-applikasjoner
Comment[nl]=Printers instellen voor OpenOffice.org-toepassingen
Comment[nso]=Beakanya digatiši bakeng sa ditirišo tša OpenOffice.org
Comment[or]=OpenOffice.org ର ପ୍ରୟୋଗ ପାଇଁ ମୂଦ୍ରଣୀକୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=OpenOffice.org ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ ਪਰਿੰਟਰ ਦਾ ਸੈੱਟਅੱਪ
Comment[pl]=Konfiguracja drukarek dla aplikacji OpenOffice.org
Comment[pt]=Configure as impressoras para as aplicações do OpenOffice.org
Comment[pt_BR]=Configure impressoras para aplicações do OpenOffice.org
Comment[ro]=Setează imprimantele pentru aplicaţiile OpenOffice.org
Comment[ru]=настройка принтера для приложений OpenOffice.org
Comment[si]=OpenOffice.org වැඩසටහන් සඳහා මුද්‍රකයන් සකසන්න
Comment[sk]=Nastaviť tlačiarne pre aplikácie OpenOffice.org
Comment[sl]=Nastavi tiskalnike za programe zbirke OpenOffice.org
Comment[sr]=Подешавање штампача за OpenOffice.org програме
Comment[sr@latin]=Podešavanje štampača za OpenOffice.org programe
Comment[sv]=Konfigurera skrivare för OpenOffice.org-program
Comment[ta]=OpenOffice.org அச்சடிப்பி அமைவு பயன்பாடுகள்
Comment[te]=OpenOffice.org అనువర్తనాలకోసం ముద్రకాలను అమర్చు
Comment[th]=ตั้งค่าเครื่องพิมพ์สำหรับโปรแกรมในชุด OpenOffice.org
Comment[tr]=OpenOffice.org uygulamaları için yazıcı ayarları
Comment[uk]=Налаштовування принтера для OpenOffice.org
Comment[ur]=پرو گرامز میں پرنٹر  کی تر تیب OpenOffice.org
Comment[vi]=Thiết lập máy in cho ứng dụng OpenOffice.org
Comment[zh_CN]=为 OpenOffice.org 应用程序设置打印机
Comment[zh_TW]=為 OpenOffice.org 應用程式設定印表機
Comment[zu]=Misa abashicileli bemiyalelo ye-OpenOffice.org
Exec=/usr/bin/oopadmin
Icon=ooo_printeradmin.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Office;X-Red-Hat-Base;
