[Desktop Entry]
Name=OpenOffice.org Repair
Name[af]=OpenOffice.org-hersteller
Name[am]=OpenOffice.orgን ጠግን
Name[ar]=ترمِيم OpenOffice.org
Name[as]=OpenOffice.org মেৰামতি
Name[be]=Аднаўленьне OpenOffice.org
Name[bg]=OpenOffice.org поправяне
Name[bn]=OpenOffice.org মেরামত করো
Name[bn_IN]=OpenOffice.org মেরামত কর্ম
Name[ca]=Reparació de l'OpenOffice.org
Name[cs]=OpenOffice.org Oprava
Name[cy]=Trwsio OpenOffice.org
Name[da]=Reparér OpenOffice.org
Name[de]=OpenOffice.org-Reparatur
Name[el]=Επιδιόρθωση OpenOffice.org
Name[en_GB]=OpenOffice.org Repair
Name[es]=Reparación de OpenOffice.org 
Name[et]=OpenOffice.org parandus
Name[fa]=تعمیر OpenOffice.org
Name[fi]=OpenOffice.org Repair
Name[fr]=Réparation de OpenOffice.org
Name[gu]=Openoffice.org સમારો
Name[he]=תיקון OpenOffice.org
Name[hi]=OpenOffice.org मरम्मत
Name[hr]=OpenOffice.org popravak
Name[hu]=OpenOffice.org - Helyreállító
Name[hy]=OpenOffice.org վերականգնում
Name[id]=Perbaikan OpenOffice.org
Name[is]=Gera við OpenOffice.org
Name[it]=Riparazione di OpenOffice.org
Name[ja]=OpenOffice.orgの修復
Name[ka]=OpenOffice.org-ის აღდგენა
Name[kn]=OpenOffice.org ದುರಸ್ತಿ
Name[ko]=OpenOffice.org 복구
Name[lt]=OpenOffice.org Remontas
Name[lv]=OpenOffice.org Labotājs
Name[mk]=Поправка на OpenOffice.org
Name[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗ് റിപ്പയര്‍
Name[mr]=OpenOffice.org दुरुस्ती
Name[ms]=Pembaikan OpenOffice.org
Name[nb]=Reparer OpenOffice.org
Name[nl]=OpenOffice.org repareren
Name[nso]=Go Lokiša ga OpenOffice.org
Name[or]=OpenOffice.org କୁ ସଜାଡନ୍ତୁ
Name[pa]=OpenOffice.org ਮੁਰੰਮਤ
Name[pl]=Naprawa OpenOffice.org
Name[pt]=Reparar o OpenOffice.org
Name[pt_BR]=Reparar o OpenOffice.org
Name[ro]=Repară OpenOffice.org
Name[ru]=Восстановление OpenOffice.org
Name[si]=OpenOffice.org අළුත් වැඩියා කරන්න
Name[sk]=OpenOffice.org Oprava
Name[sl]=Popravi OpenOffice.org
Name[sr]=OpenOffice.org поправак
Name[sr@latin]=OpenOffice.org popravak
Name[sv]=OpenOffice.org Repair
Name[ta]=OpenOffice.org பழுது பார்த்தல்
Name[te]=OpenOffice.org మరమ్మత్తు
Name[th]=ซ่อมแซม OpenOffice.org
Name[tr]=OpenOffice.org Onarımı
Name[uk]=Відновлення OpenOffice.org
Name[ur]=میں ترمِيم OpenOffice.org
Name[vi]=Sửa chữa OpenOffice.org
Name[zh_CN]=OpenOffice.org Repair
Name[zh_TW]=OpenOffice.org 修復
Name[zu]=Lungisa i-OpenOffice.org
Comment=Repair your installation of OpenOffice.org
Comment[af]=Herstel jou installasie van OpenOffice.org
Comment[am]=የOpenOffice.orgን የማስገባት ሥራ ጠግን
Comment[ar]=ترميم تثبيت OpenOffice.org
Comment[as]=আপোনাৰ OpenOffice.orgৰ সংস্থাপনৰ মেৰামতি কৰক
Comment[be]=Аднаўленьне ўсталёўкі OpenOffice.org
Comment[bg]=Поправи инсталацията на OpenOffice.org
Comment[bn]=OpenOffice.org-এর ইনস্টলেশন মেরামত করো
Comment[bn_IN]=OpenOffice.org ইনস্টলেশন মেরামতি
Comment[ca]=Repareu la instal·lació de l'OpenOffice.org
Comment[cs]=Opravit vaši instalaci OpenOffice.org
Comment[cy]=Trwsio'ch arsefydliad o OpenOffice.org
Comment[da]=Reparér din OpenOffice.org-installation
Comment[de]=Installation von OpenOffice.org reparieren
Comment[el]=Επιδιόρθωση εγκατάστασης του OpenOffice.org
Comment[en_GB]=Repair your installation of OpenOffice.org
Comment[es]=Reparar su instalación de OpenOffice.org
Comment[et]=OpenOffice.org paigaldatud rakenduste parandamine
Comment[fa]=تعمیر نصب OpenOffice.org
Comment[fi]=Korjaa OpenOffice.org:in asennus
Comment[fr]=Réparation de votre installation de OpenOffice.org
Comment[gl]=Repara a súa instalación de OpenOffice.org
Comment[gu]=તમારા Openoffice.org નું સ્થાપન સમારો
Comment[he]=תקן את תצורת ה-OpenOffice.org שלך
Comment[hi]=अपने OpenOffice.org संस्थापन की मरम्मत करें
Comment[hr]=Popravljanje OpenOffice.org instalacije
Comment[hu]=Az OpenOffice.org telepítésének kijavítása
Comment[hy]=Վերականգնել OpenOffice.org–ի ինստալացիան
Comment[id]=Perbaiki instalasi OpenOffice.org anda
Comment[is]=Lagfæra OpenOffice.org uppsetninguna
Comment[it]=Ripara l'installazione di OpenOffice.org
Comment[ja]=OpenOffice.orgのインストールを修復します
Comment[ka]=თქვენი OpenOffice.org-ის აღდგენა
Comment[kn]=OpenOffice.org ನ ಅನುಸ್ಥಾಪನೆಯನ್ನು ದುರಸ್ತಿಗೊಳಿಸಿ
Comment[ko]=OpenOffice.org 설치를 복구
Comment[lt]=Taisyti OpenOffice.org instaliaciją
Comment[lv]=Labot Jūsu OpenOffice.org instalāciju
Comment[mk]=Поправете ја инсталацијата на OpenOffice.org
Comment[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗിനുള്ള ഇന്‍സ്റ്റലേഷന്‍ ശരിയാക്കുക
Comment[mr]=तुमची OpenOffice.org ची प्रतिष्ठापना दुरुस्त करा
Comment[ms]=Baiki pemasangan OpenOffice.org anda.
Comment[nb]=Reparer din OpenOffice.org-installasjon
Comment[nl]=Uw OpenOffice.org installatie repareren
Comment[nso]=Lokiša go tsenya ga gago ga OpenOffice.org
Comment[or]=ଆପଣଙ୍କ ର OpenOffice.org ର ବିନ୍ଯାସକୁ ସଜାଡନ୍ତୁ
Comment[pa]=OpenOffice.org ਦੀ ਇੰਸਟਾਲੇਸ਼ਨ ਦੀ ਮੁਰੰਮਤ ਕਰੋ
Comment[pl]=Naprawa instalacji OpenOffice.org
Comment[pt]=Repare a sua instalação do OpenOffice.org
Comment[pt_BR]=Repare sua instalação do OpenOffice.org
Comment[ro]=Repară instalarea OpenOffice.org
Comment[ru]=Восстанавливает вашу установку OpenOffice.org
Comment[si]=OpenOffice.org ස්ථාපනය අළුත් වැඩියා කරන්න
Comment[sk]=Opraviť vašu inštaláciu OpenOffice.org
Comment[sl]=Popravi vašo namestitev zbirke OpenOffice.org
Comment[sr]=Поправљање OpenOffice.org инсталације
Comment[sr@latin]=Popravljanje OpenOffice.org instalacije
Comment[sv]=Reparera din installation av OpenOffice.org
Comment[ta]=உங்கள் OpenOffice.org நிறுவலை பழுது பார்க்க
Comment[te]=మీ OpenOffice.org సంస్థాపనను బాగుచేయి
Comment[th]=ซ่อมแซมการติดตั้ง OpenOffice.org
Comment[tr]=OpenOffice.org kurulumunu onarır
Comment[uk]=Відновлення вашої інсталяції OpenOffice.org
Comment[ur]=  کی انسٹا لیشن میں ترمیم OpenOffice.org
Comment[vi]=Sửa chữa bản cài đặt OpenOffice.org
Comment[zh_CN]=修理您的 OpenOffice.org 安装
Comment[zh_TW]=修復 OpenOffice.org
Comment[zu]=Lungisa ukufakwa kwe-OpenOffice.org
Exec=/usr/bin/oosetup
Icon=500_setup.xpm
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Office;X-Red-Hat-Extra;
