[Desktop Entry]
Name=Print Manager
Name[af]=Drukkerreëler
Name[am]=መምሪያውን አትም
Name[ar]=مدير الطباعة
Name[as]=মুদ্ৰক যন্ত্ৰ পৰিচালক
Name[be]=Кіраўнік друку
Name[bg]=Управление на принтери
Name[bn]=প্রিন্ট ম্যানেজার
Name[bn_IN]=প্রিন্ট পরিচালনব্যবস্থা
Name[ca]=Gestor d'impressió
Name[cs]=Správce tisku
Name[cy]=Rheolydd Argraffu
Name[da]=Printerhåndtering
Name[de]=Druckerverwaltung
Name[el]=Διαχειριστής εκτυπώσεων
Name[en_GB]=Print Manager
Name[es]=Administrador de Impresoras
Name[et]=Printerihaldur
Name[fa]=مدیریت چاپگر
Name[fi]=Tulostuksenhallinta
Name[fr]=Gestionnaire d'impression
Name[gu]=છાપન વ્યવસ્થાપક
Name[he]=מנהל הדפסה
Name[hi]=छपाई प्रबंधक
Name[hr]=Upravljanje ispisom
Name[hu]=Nyomtató-kezelő
Name[hy]=Պրինտերի մենեջեռ
Name[id]=Pengelola Pencetakan
Name[ilo]=Mangimaton ti Maldit
Name[is]=Prentstjóri
Name[it]=Manager di stampa
Name[ja]=印刷マネージャ
Name[ka]=ბეჭდვის მმართველი
Name[kn]=ಮುದ್ರಣ ನಿರ್ವಾಹಕ
Name[ko]=인쇄 관리자
Name[lt]=Spausdinimo Menedžeris
Name[lv]=Drukas sistēma
Name[mk]=Менаџер за печатачи
Name[ml]=പ്രിന്റ് മാനേജര്‍
Name[mr]=छपाई व्यवस्थापक
Name[ms]=Pengurus Pencetak
Name[nb]=Utskriftshåndterer
Name[nl]=Printerbeheer
Name[nso]=Molaodi wa Segatiši
Name[or]=ମୂଦ୍ରଣୀ ପରିଚାଳକ
Name[pa]=ਪਰਿੰਟ ਮੈਨੇਜਰ
Name[pl]=Menedżer wydruku
Name[pt]=Gestor de Impressão
Name[pt_BR]=Gerenciador de impressão
Name[ro]=Administrator imprimantă
Name[ru]=Диспетчер печати
Name[si]=මුද්‍රණ කලමණාකරු
Name[sk]=Správca tlače
Name[sl]=Upravljalnik tiskanja
Name[sr]=Управљање штампањем
Name[sr@latin]=Upravljanje štampanjem
Name[sv]=Utskriftshanterare
Name[ta]=அச்சடிப்பி மேலாளர்
Name[te]=ముద్రణా Manager
Name[th]=ตัวจัดการงานพิมพ์
Name[tr]=Yazdırma Yöneticisi
Name[uk]=Диспетчер друку
Name[ur]=پر نٹر کے لیے
Name[vi]=Trình quản lý in ấn
Name[zh_CN]=打印管理器
Name[zh_TW]=列印管理員
Name[zu]=Imenenja Yokushicilela
Comment=Set up and monitor printers
Comment[af]=Stel drukkers op en monitor hulle
Comment[am]=አስተካክል እና ማተሚያዎችን ተቆጣጠር
Comment[ar]=إعداد ومُراقبة الطّابِعات
Comment[as]=মুদ্ৰক যন্ত্ৰ প্ৰতিষ্ঠা আৰু  নিয়ন্ত্ৰণ কৰক
Comment[be]=Наладка й дагляд друкарак
Comment[bg]=Настройка и следене на принтери
Comment[bn]=প্রিন্টারকে ব্যবহারের জন্য প্রস্তুত ও পর্যবেক্ষণ করো
Comment[bn_IN]=প্রিন্টার স্থাপনা ও পর্যবেক্ষণ
Comment[ca]=Configureu i gestioneu impressores
Comment[cs]=Nastavit a sledovat tiskárny
Comment[cy]=Gosod ac arsylwi argraffyddion
Comment[da]=Opsætning af printerovervågning
Comment[de]=Drucker einrichten und überwachen
Comment[el]=Ρύθμιση και εποπτεία εκτυπωτών
Comment[en_GB]=Set up and monitor printers
Comment[es]=Configurar y controlar impresoras
Comment[et]=Printerite seadistamine ja jälgimine
Comment[fa]=برپاسازی و مانیتور چاپگرها
Comment[fi]=Aseta ja valvo tulostimia
Comment[fr]=Configuration et contrôle d'imprimantes
Comment[gu]=પ્રિન્ટરો સુયોજિત કરો અને તેનું ધ્યાન રાખો
Comment[he]=הגדרה ופיקוח על מדפסות
Comment[hi]=मुद्रक का सेटअप और निरीक्षण करें
Comment[hr]=Postavljanje i nadzor pisača
Comment[hu]=Nyomtatók beállítása és figyelése
Comment[hy]=Տեղադրել և հետևել պրինտերներին
Comment[id]=Men-setup dan mengawasi printer
Comment[is]=Setja upp og fylgjast með prenturum
Comment[it]=Impostazione e controllo delle stampanti
Comment[ja]=プリンターを設定して監視
Comment[ka]=პრინტერების მონიტორინგი და გამართვა
Comment[kn]=ಮುದ್ರಕಗಳನ್ನು ಸಂಯೋಜಿಸಿ ಮೇಲ್ವಿಚಾರಿಸಿಕೊಳ್ಳಿ
Comment[ko]=프린터 설정 및 감시
Comment[lt]=Konfiguruoti ir prižiūrėti spausdintuvus
Comment[lv]=Iestatīt un uzraudzīt drukas ierīces
Comment[mk]=Поставување и надгледување на печатачи
Comment[ml]=പ്രിന്ററുകള്‍ സജ്ജമാക്കി അവ നിരീക്ഷിക്കുക
Comment[mr]=छपाईयंत्राची स्थापना आणि निरीक्षण करा
Comment[ms]=Menetapkan dan memonitor pencetak
Comment[nb]=Konfigurer og overvåk skrivere
Comment[nl]=Printers instellen en beheren
Comment[nso]=Beakanya le go bea digatiši leihlo
Comment[or]=ମୂଦ୍ରଣୀକୁ ବିନ୍ଯାସ କରନ୍ତୁ ଏବଂ ତାହା ଉପରେ ଦୃଷ୍ଟି ରଖନ୍ତୁ
Comment[pa]=ਪਰਿੰਟਰ ਸੈਟਅੱਪ ਅਤੇ ਨਿਗਰਾਨੀ
Comment[pl]=Konfiguracja i monitorowanie drukarek
Comment[pt]=Configure e veja o estado das impressoras
Comment[pt_BR]=Configure e monitore impressoras
Comment[ro]=Setează şi monitorizează imprimante
Comment[ru]=Управление принтерами
Comment[si]=මුද්‍රණයන් සකස්කර අධීක්‍ෂණය කරන්න
Comment[sk]=Nastaviť a monitorovať tlačiarne
Comment[sl]=Nastavi in spremlja tiskalnike
Comment[sr]=Подешавајте и пратите рад штампача
Comment[sr@latin]=Podešavajte i pratite rad štampača
Comment[sv]=Konfigurera och övervaka skrivare
Comment[ta]=அச்சடிப்பிகளை அமைத்து கண்காணிக்கவும்
Comment[te]=అమర్పు మరియూ monitor ముద్రకాలు
Comment[th]=ติดตั้งและจัดการเครื่องพิมพ์
Comment[tr]=Yazıcıları gösterir ve ayarlar
Comment[uk]=Керування принтерами
Comment[ur]=پر نٹر کو دیکھنے اور اس کی تر تیبا ت کے لیے
Comment[vi]=Thiết lập và theo dõi máy in
Comment[zh_CN]=设置和监视打印机
Comment[zh_TW]=設定與監視印表機
Comment[zu]=Misa ebese ulawula abashicieleli
Exec=tryprint.pl %F
Icon=printer.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=X-Red-Hat-Base;X-Red-Hat-Base-Only;Application;Utility;