[Desktop Entry]
Name=Email
Name[af]=E-pos
Name[am]=ኢ-ሜይል
Name[ar]=بريد إفوليوشن
Name[as]=ঈ-মেইল
Name[be]=Паштовы кліен
Name[bg]=Еволюшън офис мениджър
Name[bn]=ই-মেইল
Name[bn_IN]=ই-মেইল
Name[ca]=Correu electrònic
Name[cs]=E-mail
Name[cy]=Ebost
Name[da]=E-post
Name[de]=E-Mail
Name[el]=Ηλ. ταχυδρομείο
Name[en_GB]=Email
Name[es]=Correo electrónico
Name[et]=E-post
Name[fa]=پست الکترونیکی
Name[fi]=Sähköposti
Name[fr]=Courrier électronique
Name[gl]=Correo-e
Name[gu]=ઈ-મેઈલ
Name[he]=דואר אלקטרוני
Name[hi]=ईमेल
Name[hr]=E-pošta
Name[hu]=E-mail
Name[hy]=Էլ–փոստ
Name[id]=Email
Name[is]=Póstur
Name[it]=Email
Name[ja]=電子メール
Name[ka]=ელფოსტა
Name[kn]=ವಿ-ಅಂಚೆ
Name[ko]=전자메일
Name[lt]=Email
Name[lv]=E-pasts
Name[mk]=Е-пошта
Name[ml]=ഈമെയില്‍
Name[mr]=ईमेल
Name[ms]=Emel
Name[nb]=E-post
Name[nl]=E-mail
Name[nso]=Poso ya Se-elektronike
Name[or]=ଇ-ଡାକ
Name[pa]=ਈਮੇਲ
Name[pl]=Klient poczty
Name[pt]=E-mail
Name[pt_BR]=Email
Name[ro]=Poştă electronică
Name[ru]=Электронная почта и календарь
Name[si]=විද්‍යුත් තැපෑල
Name[sk]=E-mail
Name[sl]=Poštni program
Name[sr]=Е-пошта
Name[sr@latin]=E-pošta
Name[sv]=E-post
Name[ta]=மின்னஞ்சல்
Name[te]=ఇ-టపా
Name[th]=อีเมล
Name[tr]=Eposta
Name[uk]=Електронна пошта та календар
Name[ur]=ا ی میل
Name[vi]=Thư điện
Name[zh_CN]=电子邮件
Name[zh_TW]=電子郵件
Name[zu]=Iposi lekhomputha Lokudaleka
Comment=Send email and manage your schedule
Comment[af]=Stuur e-pos en reël jou rooster
Comment[am]=ኢ-ሜይል ይላኩና የሥራ ፕሮግራምዎትን ይምሩ
Comment[ar]=إرسل بريد و أدر جدولك
Comment[as]=ঈ-মেইল পঠিয়াওক আৰু আপোনাৰ সময়তালিকা পৰিচালনা কৰক
Comment[be]=Электронная пошта і штодзёньнік
Comment[bg]=Изпращане на електронна поща и управление на графика
Comment[bn]=ই-মেইল প্রেরণ করুন এবং আপনার কর্মতালিকা নিয়ন্ত্রণ করুন
Comment[bn_IN]=ই-মেইল প্রেরণ করুন এবং আপনার কার্যক্রম পরিচালনা করুন
Comment[ca]=Envieu correus electrònics i planifiqueu el vostre temps
Comment[cs]=Posílat e-mail a spravovat váš plán
Comment[cy]=Anfon ebost a threfnu'ch amserlen
Comment[da]=Send e-post og administrér dit skema
Comment[de]=E-Mails versenden und Ihren Kalender verwalten
Comment[el]=Αποστολή email και διαχείριση του χρόνου σας
Comment[en_GB]=Send email and manage your schedule
Comment[es]=Enviar correo electrónico y administrar su horario
Comment[et]=E-posti kasutamine ja kalendri haldamine
Comment[fa]=فرستادن پست الکترونیکی و زمان بندی
Comment[fi]=Lähetä sähköpostia ja hallitse kalenteria
Comment[fr]=Envoyer du courrier électronique et gérer votre programme
Comment[gu]=ઈ-મેઈલ મોકલો અને તમારા સમયક્રમની વ્યવસ્થા કરો
Comment[he]=שלח דואר אלקטרוני ונהל את זמנך
Comment[hi]=ईमेल भेजें और अपने कार्यक्रम का प्रबंध करें
Comment[hr]=Slanje e-poruka i upravljanje planerom
Comment[hu]=E-mail-küldés és határidőnapló-kezelés
Comment[hy]=Աշխատել էլ–փոստի հետ և պլանավորել ժամանակը
Comment[id]=Mengirim email dan mengelola jadwal anda
Comment[ilo]=Mangipatulod iti email ken mangtarawidwid iti iskediul
Comment[is]=Senda tölvupóst og sýsla í dagatalinu
Comment[it]=Inviare email e gestire le scadenze
Comment[ja]=電子メールを送り、スケジュールを管理します
Comment[ka]=ელ. ფოსტის გაგზავნა და სამუშაო განრიგი
Comment[kn]=ವಿ-ಅಂಚೆ ಕಳಿಸಿ ನಿಮ್ಮ ಕಾರ್ಯಯೋಜನೆಯನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=전자메일 보내기 및 일정 관리하기
Comment[lt]=Siunčia el. paštą ir valdo jūsų dienotvarkę
Comment[lv]=Sūtīt e-pastu un plānot darbu
Comment[mk]=Праќање на пораки и организација на распоредот
Comment[ml]=ഈമെയില്‍ അയച്ചു് നിങ്ങളുടെ ഷെഡ്യൂള്‍ കൈകാര്യം ചെയ്യുക
Comment[mr]=ईमेल पाठवा आणि आपले वेळापत्रक सांभाळा
Comment[ms]=Kirim emel dan urus penjadualan anda
Comment[nb]=Send meldinger og håndter avtaler
Comment[nl]=E-mail versturen en uw agenda beheren
Comment[nso]=Romela poso ya se-elektronike le go laola lenaneo la gago
Comment[or]=ଇ-ଡାକ ପଠାନ୍ତୁ ଏବଂ ନିର୍ଘଣ୍ଟର ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਈਮੇਲ ਭੇਜੋ ਅਤੇ ਆਪਣਾ ਸਮਾਂ-ਤਹਿ ਕਰੋ
Comment[pl]=Wysyłanie poczty elektronicznej i zarządzanie harmonogramem
Comment[pt]=Envie e-mails e organize a sua agenda
Comment[pt_BR]=Envie emails e gerencie sua agenda
Comment[ro]=Trimite email şi planifică timpul
Comment[ru]=Работа с электронной почтой и личным расписанием
Comment[si]=විද්‍යුත් පණිවිඩ යැවීම සහ කාර්ය සටහන කළමනාකරනය කරන්න
Comment[sk]=Posielať e-maily a spravovať váš rozvrh
Comment[sl]=Pošlje pošto in usklajuje vaš urnik
Comment[sr]=Слање е-поште и управљање распоредом
Comment[sr@latin]=Slanje e-pošte i upravljanje rasporedom
Comment[sv]=Skicka e-post och hantera ditt schema
Comment[ta]=மின்னஞ்சல் அனுப்புதல் மற்றும் உங்கள் நேரத்தை திட்டமிடல்
Comment[te]=ఇ-టపా పంపండి మరియూ మీ కార్యక్రమాలని నిర్వహించండి
Comment[th]=ส่งอีเมลและจัดการตารางเวลาของคุณ
Comment[tr]=Eposta gönderir ve takvimi yönetir
Comment[uk]=Робота з електронною поштою та особистим розкладом
Comment[ur]=ای میل بھیجو اور آپنے شیڈ یو ل کو تر تیب دو
Comment[vi]=Gửi thư và quản lý lịch biểu
Comment[zh_CN]=发送电子邮件并管理您的日程
Comment[zh_TW]=傳送電子郵件以及行程管理
Comment[zu]=Thumela iposi lekhomputha ebese uphatha ukusebenza kwalo
Exec=launchmail
Icon=redhat-email.png
NoDisplay=true
Terminal=0
Type=Application
Encoding=UTF-8
Categories=X-Red-Hat-Base;X-Red-Hat-Base-Only;Network;Application;
StartupNotify=True

