[Desktop Entry]
Name=OpenOffice.org Calc
Name[af]=OpenOffice.org Calc
Name[am]=የOpenOffice.org ካልኩሌተር
Name[ar]=أوبن أوفيس.أورغ الحسابات
Name[as]=OpenOffice.org Calc
Name[be]=OpenOffice.org Calc
Name[bg]=OpenOffice.org Calc
Name[bn]=OpenOffice.org ক্যালকুলেটর (Calc)
Name[bn_IN]=OpenOffice.org Calc
Name[ca]=OpenOffice.org Calc
Name[cs]=OpenOffice.org Calc
Name[cy]=OpenOffice.org Calc
Name[da]=OpenOffice.org Calc
Name[de]=OpenOffice.org Calc
Name[el]=OpenOffice.org Calc
Name[en_GB]=OpenOffice.org Calc
Name[es]=Calc de OpenOffice.org
Name[et]=OpenOffice.org Arvutustabel (Calc)
Name[fa]=OpenOffice.org Calc
Name[fi]=OpenOffice.org Calc
Name[fr]=OpenOffice.org Calc
Name[gl]=OpenOffice.org Calc
Name[gu]=Openoffice.org કેલ્ક્યુલેટર
Name[he]=OpenOffice.org גיליונות אלקטרוניים
Name[hi]=OpenOffice.org कैल्क
Name[hr]=OpenOffice.org Calc
Name[hu]=OpenOffice.org Calc
Name[hy]=OpenOffice.org Calc
Name[id]=OpenOffice.org Calc
Name[is]=OpenOffice.org Calc
Name[it]=OpenOffice.org Calc
Name[ja]=OpenOffice.org Calc
Name[ka]=OpenOffice.org Calc
Name[kn]=OpenOffice.org ಲೆಕ್ಕಿಗ
Name[ko]=OpenOffice.org Calc
Name[lt]=OpenOffice.org Calc
Name[lv]=OpenOffice.org Calc
Name[mk]=OpenOffice.org пресметки
Name[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗ് കാല്‍ക്
Name[mr]=OpenOffice.org गणक
Name[ms]=OpenOffice.org Calc
Name[nb]=OpenOffice.org Calc
Name[nl]=OpenOffice.org Calc
Name[nso]=Go Hlakantšha ga OpenOffice.org
Name[or]=OpenOffice.org ହିସାବ
Name[pa]=OpenOffice.org ਕੈਲਸ
Name[pl]=OpenOffice.org Calc
Name[pt]=OpenOffice.org Calc
Name[pt_BR]=OpenOffice.org Calc
Name[ro]=OpenOffice.org Calc
Name[ru]=OpenOffice.org Calc
Name[si]=OpenOffice.org Calc
Name[sk]=OpenOffice.org Calc
Name[sl]=OpenOffice.org Calc
Name[sr]=OpenOffice.org Calc
Name[sr@latin]=OpenOffice.org Calc
Name[sv]=OpenOffice.org Calc
Name[ta]=OpenOffice.org கால்க்
Name[te]=OpenOffice.org Calc
Name[th]=OpenOffice.org Calc
Name[tr]=OpenOffice.org Çizelge
Name[uk]=OpenOffice.org Calc
Name[ur]=OpenOffice.org Calc
Name[vi]=OpenOffice.org Calc
Name[zh_CN]=OpenOffice.org Calc
Name[zh_TW]=OpenOffice.org Calc
Name[zu]=I-OpenOffice.org Yomshini wokubala
Comment=Spreadsheet
Comment[af]=Spreiblad
Comment[am]=መረጃ ማስቀመጫ
Comment[ar]=برنامج الجدولة
Comment[as]=স্প্রেডশিট
Comment[be]=Эляктронная табліца
Comment[bg]=Електронна таблица
Comment[bn]=স্প্রেড শীট
Comment[bn_IN]=স্প্রেড-শিট
Comment[ca]=Full de càlcul
Comment[cs]=Tabulkový procesor
Comment[cy]=Taenlen
Comment[da]=Regneark
Comment[de]=Tabellenkalkulation
Comment[el]=Λογιστικό φύλλο
Comment[en_GB]=Spreadsheet
Comment[es]=Hoja de cálculo
Comment[et]=Arvutustabel
Comment[fa]=Spreadsheet
Comment[fi]=Taulukkolaskenta
Comment[fr]=Tableur
Comment[gl]=Folla de Cálculo
Comment[gu]=સ્પ્રેડશીટ
Comment[he]=גיליון אלקטרוני
Comment[hi]=स्प्रेडशीट
Comment[hr]=Izračunske tablice
Comment[hu]=Táblázatkezelő
Comment[hy]=Ցուցակ
Comment[id]=Spreadsheet
Comment[is]=Töflureiknir
Comment[it]=Foglio di calcolo
Comment[ja]=スプレッドシート
Comment[ka]=ელექტრონული ცხრილი
Comment[kn]=ಲೆಕ್ಕಪತ್ರಹಾಳೆ (Spreadsheet)
Comment[ko]=스프레드시트
Comment[lt]=Elektroninės lentelės
Comment[lv]=Tabulas
Comment[mk]=Табели
Comment[ml]=സ്പ്രെഡ് ഷീറ്റ്
Comment[mr]=सारणी
Comment[ms]=Hamparan
Comment[nb]=Regneark
Comment[nl]=Spreadsheet
Comment[nso]=Lelokelelo la ditokumente
Comment[or]=ସ୍ପ୍ରେଡସିଟ୍
Comment[pa]=ਸਪਰੈੱਡਸ਼ੀਟ
Comment[pl]=Arkusz kalkulacyjny
Comment[pt]=Folha de cálculo
Comment[pt_BR]=Planilha eletrônica
Comment[ro]=Calcul tabelar
Comment[ru]=Электронная таблица
Comment[si]=පැතුරුම්පත
Comment[sk]=Tabuľkový procesor
Comment[sl]=Preglednica
Comment[sr]=Табеле
Comment[sr@latin]=Tabele
Comment[sv]=Kalkylblad
Comment[ta]=விரிதாள்
Comment[te]=Spreadపుట
Comment[th]=ตารางคำนวน
Comment[tr]=Hesap Çizelgesi
Comment[uk]=Електронна таблиця
Comment[ur]=سپر یڈ شیٹ
Comment[vi]=Bảng tính
Comment[zh_CN]=电子表格
Comment[zh_TW]=試算表
Comment[zu]=Ikhasi lokubala
Exec=oocalc
Icon=redhat-spreadsheet.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.calc;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/vnd.stardivision.chart;application/vnd.ms-excel;application/msexcel;application/x-msexcel;application/x-ms-excel;application/vnd.ms-excel;application/x-excel;application/xls;application/x-xls;text/x-comma-separated-values;text/csv;application/csv;application/tab-separated-values;application/x-ole-storage;
StartupWMClass=VCLSalFrame
