[Desktop Entry]
Name=OpenOffice.org Math
Name[af]=OpenOffice.org Math
Name[am]=የOpenOffice.org ሂሳብ
Name[ar]=أوبن أوفيس.أورغ الرياضيات
Name[as]=OpenOffice.org গণিত
Name[be]=OpenOffice.org Math
Name[bg]=OpenOffice.org Math
Name[bn]=OpenOffice.org গণিত (Math)
Name[bn_IN]=OpenOffice.org Math
Name[ca]=OpenOffice.org Math
Name[cs]=OpenOffice.org Math
Name[cy]=OpenOffice.org Math
Name[da]=OpenOffice.org Math
Name[de]=OpenOffice.org Math
Name[el]=OpenOffice.org Math
Name[en_GB]=OpenOffice.org Math
Name[es]=Math de OpenOffice.org
Name[et]=OpeOffice.org Matemaatika (Math)
Name[fa]=OpenOffice.org Math
Name[fi]=OpenOffice.org Math
Name[fr]=OpenOffice.org Math
Name[gl]=OpenOffice.org Math
Name[gu]=Openoffice.org ગણિત
Name[he]=OpenOffice.org נוסחאות מתמטיות
Name[hi]=OpenOffice.org मैथ
Name[hr]=OpenOffice.org Math
Name[hu]=OpenOffice.org Math
Name[hy]=OpenOffice.org Math
Name[id]=OpenOffice.org Math
Name[is]=OpenOffice.org Math
Name[it]=OpenOffice.org Math
Name[ja]=OpenOffice.org Math
Name[ka]=OpenOffice.org Math
Name[kn]=OpenOffice.org ಗಣಿತ
Name[ko]=OpenOffice.org Math
Name[lt]=OpenOffice.org Math
Name[lv]=OpenOffice.org Math
Name[mk]=OpenOffice.org математика
Name[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗ് മാഥ്
Name[mr]=OpenOffice.org गणित
Name[ms]=OpenOffice.org Math
Name[nb]=Openoffice.org matematikk
Name[nl]=OpenOffice.org Math
Name[nso]=Dipalo tša OpenOffice.org
Name[or]=OpenOffice.org ଗଣିତ
Name[pa]=OpenOffice.org ਗਣਿਤ
Name[pl]=OpenOffice.org Math
Name[pt]=OpenOffice.org Math
Name[pt_BR]=OpenOffice.org Math
Name[ro]=OpenOffice.org Math
Name[ru]=OpenOffice.org Math
Name[si]=OpenOffice.org Math
Name[sk]=OpenOffice.org Math
Name[sl]=OpenOffice.org Math
Name[sr]=OpenOffice.org Math
Name[sr@latin]=OpenOffice.org Math
Name[sv]=OpenOffice.org Math
Name[ta]=OpenOffice.org மாத்
Name[te]=OpenOffice.org Math
Name[th]=OpenOffice.org Math
Name[tr]=OpenOffice.org Formül
Name[uk]=OpenOffice.org Math
Name[ur]=OpenOffice.org Math
Name[vi]=OpenOffice.org Math
Name[zh_CN]=OpenOffice.org Math
Name[zh_TW]=OpenOffice.org Math
Name[zu]=I-OpenOffice.org Yezibalo
Comment=Formula editor
Comment[af]=Formule-skrywer
Comment[am]=የፎርሙላ አዘጋጅ
Comment[ar]=محرر المعادلات
Comment[as]=সূত্ৰ সম্পাদক
Comment[be]=Рэдактар формул
Comment[bg]=Редактор за формули
Comment[bn]=গাণিতিক-সূত্র সম্পাদক
Comment[bn_IN]=ফরমুলা সম্পাদন ব্যবস্থা
Comment[ca]=Editor de fórmules
Comment[cs]=Editor vzorců
Comment[cy]=Golygydd fformwlâu
Comment[da]=Redigering af formular
Comment[de]=Formeleditor
Comment[el]=Επεξεργαστής επιστημονικών τύπων
Comment[en_GB]=Formula editor
Comment[es]=Editor de fórmulas
Comment[et]=Valemiredaktor
Comment[fa]=Formula editor
Comment[fi]=Kaavamuokkain
Comment[fr]=Éditeur de formules
Comment[gl]=Editor de fórmulas
Comment[gu]=સૂત્ર સંપાદક
Comment[he]=עורך נוסחאות
Comment[hi]=सूत्र संपादक
Comment[hr]=Uređivanje matematičkih formula
Comment[hu]=Képletszerkesztő
Comment[hy]=Բանաձևերի խմբագրիչ
Comment[id]=Editor Formula
Comment[ilo]=Pagbaliw ti pormulario
Comment[is]=Formúluritill
Comment[it]=Editor di formule
Comment[ja]=Formulaエディター
Comment[ka]=ფორმულების რედაქტორი
Comment[kn]=ಸೂತ್ರ ಸಂಪಾದಕ (Formula editor)
Comment[ko]=수식 편집기
Comment[lt]=Formulių redaktorius
Comment[lv]=Formulu redaktors
Comment[mk]=Уредувач за формули
Comment[ml]=ഫോര്‍മുലാ എഡിറ്റര്‍
Comment[mr]=सूत्र संपादक
Comment[ms]=Editor formula
Comment[nb]=Formelredigering
Comment[nl]=Formule-editor
Comment[nso]=Morulaganyi wa fomula
Comment[or]=ସୂତ୍ର ସମ୍ପାଦକ
Comment[pa]=ਫਾਰਮੂਲਾ ਸੰਪਾਦਕ
Comment[pl]=Edytor formuł matematycznych
Comment[pt]=Editor de formulas
Comment[pt_BR]=Editor de fórmulas
Comment[ro]=Editor de formule
Comment[ru]=Редактор формул
Comment[si]=වට්ටෝරු සංශෝධක
Comment[sk]=Editor vzorcov
Comment[sl]=Urejevalnik formul
Comment[sr]=Уређивање формула
Comment[sr@latin]=Uređivanje formula
Comment[sv]=Formelredigerare
Comment[ta]=சூத்திர தொகுப்பி
Comment[te]=సూత్ర సంపాదకుడు
Comment[th]=ตัวแก้ไขสูตร
Comment[tr]=Formül Düzenleyici
Comment[uk]=Редактор формул
Comment[ur]=فا رمو لا ایڈ یٹر
Comment[vi]=Bộ soạn thảo công thức
Comment[zh_CN]=公式编辑器
Comment[zh_TW]=公式編輯器
Comment[zu]=Umhleli wendlela yokwenza
Exec=oomath
Icon=ooo_math.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.math
StartupWMClass=VCLSalFrame
