[Desktop Entry]
Name=OpenOffice.org Writer
Name[af]=OpenOffice.org Writer
Name[am]=የOpenOffice.org ጸሐፊ
Name[ar]=أوبن أوفيس.أورغ الكاتب
Name[as]=OpenOffice.org গ্ৰন্থকাৰ
Name[be]=OpenOffice.org Writer
Name[bg]=OpenOffice.org Writer
Name[bn]=OpenOffice.org রাইটার
Name[bn_IN]=OpenOffice.org Writer
Name[ca]=OpenOffice.org Writer
Name[cs]=OpenOffice.org Writer
Name[cy]=OpenOffice.org Writer
Name[da]=OpenOffice.org Writer
Name[de]=OpenOffice.org Writer
Name[el]=OpenOffice.org Writer
Name[en_GB]=OpenOffice.org Writer
Name[es]=Writer de OpenOffice.org
Name[et]=OpenOffice.org Tekstidokument (Writer)
Name[fa]=OpenOffice.org Writer
Name[fi]=OpenOffice.org Writer
Name[fr]=OpenOffice.org Writer
Name[gl]=OpenOffice.org Writer
Name[gu]=Openoffice.org લખનાર
Name[he]=OpenOffice.org מעבד תמלילים
Name[hi]=OpenOffice.org राइटर
Name[hr]=OpenOffice.org Writer
Name[hu]=OpenOffice.org Writer
Name[hy]=OpenOffice.org Գրիչ
Name[id]=OpenOffice.org Writer
Name[is]=OpenOffice.org ritill
Name[it]=OpenOffice.org Writer
Name[ja]=OpenOffice.org Writer
Name[ka]=OpenOffice.org Writer
Name[kn]=OpenOffice.org ಲೇಖಕ
Name[ko]=OpenOffice.org Writer
Name[lt]=OpenOffice.org Writer
Name[lv]=OpenOffice.org Writer
Name[mk]=OpenOffice.org пишување
Name[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗ് റൈറ്റര്‍
Name[mr]=OpenOffice.org लेखक
Name[ms]=OpenOffice.org Writer
Name[nb]=OpenOffice.org Writer
Name[nl]=OpenOffice.org Writer
Name[nso]=Mongwadi wa OpenOffice.org
Name[or]=OpenOffice.org ଲେଖକ
Name[pa]=OpenOffice.org ਰਾਈਟਰ
Name[pl]=OpenOffice.org Writer
Name[pt]=OpenOffice.org Writer
Name[pt_BR]=OpenOffice.org Writer
Name[ro]=OpenOffice.org Writer
Name[ru]=OpenOffice.org Writer
Name[si]=OpenOffice.org Writer
Name[sk]=OpenOffice.org Writer
Name[sl]=OpenOffice.org Writer
Name[sr]=OpenOffice.org Writer
Name[sr@latin]=OpenOffice.org Writer
Name[sv]=OpenOffice.org Writer
Name[ta]=OpenOffice.org ரைட்டர்
Name[te]=OpenOffice.org లేఖిని
Name[th]=OpenOffice.org Writer
Name[tr]=OpenOffice.org Kelimeİşlemci
Name[uk]=OpenOffice.org Writer
Name[ur]=OpenOffice.org Writer
Name[vi]=OpenOffice.org Writer
Name[zh_CN]=OpenOffice.org Writer
Name[zh_TW]=OpenOffice.org Writer
Name[zu]=I-OpenOffice.org Yokubhala
Comment=Word processor
Comment[af]=Woordverwerker
Comment[am]=የጽሑፍ አቀናጅ
Comment[ar]=معالج كلمات
Comment[as]=শব্দ পৰিবৰ্ত্তন প্ৰণালী পৰিচালক
Comment[be]=Тэкставы працэсар
Comment[bg]=Текстов редактор
Comment[bn]=ওয়ার্ড প্রসেসর
Comment[bn_IN]=ওয়ার্ড প্রসেসর
Comment[ca]=Processador de textos
Comment[cs]=Textový procesor
Comment[cy]=Prosesydd geiriau
Comment[da]=Tekstbehandling
Comment[de]=Textverarbeitung
Comment[el]=Επεξεργαστής κειμένου
Comment[en_GB]=Word processor
Comment[es]=Procesador de textos
Comment[et]=Tekstitöötlus
Comment[fa]=پردازشگر Word
Comment[fi]=Tekstinkäsittely
Comment[fr]=Traitement de texte
Comment[gl]=Procesador de texto
Comment[gu]=વર્ડ પ્રોસેસર
Comment[he]=מעבד תמלילים
Comment[hi]=शब्द प्रोसेसर
Comment[hr]=Program za obradu teksta
Comment[hu]=Szövegszerkesztő
Comment[hy]=Տեքստային պրոցեսսոր
Comment[id]=Pengolah kata
Comment[is]=Ritvinnsla
Comment[it]=Word processor
Comment[ja]=ワードプロッセッサ
Comment[ka]=ტექსტური პროცესორი
Comment[kn]=ಪದ ಸಂಸ್ಕಾರಕ
Comment[ko]=워드 프로세서
Comment[lt]=Tekstų redaktorius
Comment[lv]=Teksta redaktors
Comment[mk]=Процесор на зборови
Comment[ml]=വേര്‍ഡ് പ്രൊസസ്സര്‍
Comment[mr]=लेखन संस्करण
Comment[ms]=Pemproses perkataan
Comment[nb]=Tekstbehandling
Comment[nl]=Tekstverwerker
Comment[nso]=Sehlami sa Mantšu
Comment[or]=ଶବ୍ଦ ସଂସାଧକ
Comment[pa]=ਵਰਡ ਪਰੋਸੈਸਰ
Comment[pl]=Procesor tekstu
Comment[pt]=Processador de texto
Comment[pt_BR]=Processador de textos
Comment[ro]=Redactare documente
Comment[ru]=Текстовый процессор
Comment[si]=පද සකසුව
Comment[sk]=Textový editor
Comment[sl]=Urejevalnik besedil
Comment[sr]=Обрађујте текст
Comment[sr@latin]=Obrađujte tekst
Comment[sv]=Ordbehandlare
Comment[ta]=சொற்செயலி
Comment[te]=పద ప్రక్రమకారిణి
Comment[th]=โปรแกรมประมวลผลคำ
Comment[tr]=Kelime işlemci
Comment[uk]=Текстовий процесор
Comment[ur]=Word processor
Comment[vi]=Trình xử lý văn bản
Comment[zh_CN]=文字处理器
Comment[zh_TW]=文字處理器
Comment[zu]=Umgayi wegama
Exec=oowriter
Icon=redhat-word-processor.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.writer;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/vnd.wordperfect;application/rtf;text/plain;application/x-ole-storage;
StartupWMClass=VCLSalFrame
