[Desktop Entry]
Name=OpenOffice.org Draw
Name[af]=OpenOffice.org Draw
Name[am]=OpenOffice.orgን ሣል
Name[ar]=أوبن أوفيس.أورغ الرسم
Name[as]=OpenOffice.org অঙ্কন কৰক
Name[be]=OpenOffice.org Draw
Name[bg]=OpenOffice.org Draw
Name[bn]=OpenOffice.org ড্র
Name[bn_IN]=OpenOffice.org Draw
Name[ca]=OpenOffice.org Draw
Name[cs]=OpenOffice.org Draw
Name[cy]=OpenOffice.org Draw
Name[da]=OpenOffice.org Draw
Name[de]=OpenOffice.org Draw
Name[el]=OpenOffice.org Draw
Name[en_GB]=OpenOffice.org Draw
Name[es]=Draw de OpenOffice.org
Name[et]=OpenOffice.org Joonistus (Draw)
Name[fa]=OpenOffice.org Draw
Name[fi]=OpenOffice.org Draw
Name[fr]=OpenOffice.org Draw
Name[gl]=OpenOffice.org Draw
Name[gu]=Openoffice.org દોરનાર
Name[he]=צייר OpenOffice.org
Name[hi]=OpenOffice.org ड्रॉ
Name[hr]=OpenOffice.org Draw
Name[hu]=OpenOffice.org Draw
Name[hy]=OpenOffice.org Draw
Name[id]=OpenOffice.org Draw
Name[is]=OpenOffice.org Draw
Name[it]=OpenOffice.org Draw
Name[ja]=OpenOffice.org Draw
Name[ka]=OpenOffice.org Draw
Name[kn]=OpenOffice.org ರೇಖಾಚಿತ್ರಣ
Name[ko]=OpenOffice.org Draw
Name[lt]=OpenOffice.org Draw
Name[lv]=OpenOffice.org Draw
Name[mk]=OpenOffice.org цртање
Name[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗ് ഡ്രോ
Name[mr]=OpenOffice.org चित्र
Name[ms]=OpenOffice.org Draw
Name[nb]=OpenOffice.org Draw
Name[nl]=OpenOffice.org Draw
Name[nso]=Go Thala ga OpenOffice.org
Name[or]=OpenOffice.org କୁ ଅଙ୍କନ କରନ୍ତୁ
Name[pa]=OpenOffice.org ਡਰਾਇੰਗ
Name[pl]=OpenOffice.org Draw
Name[pt]=OpenOffice.org Draw
Name[pt_BR]=OpenOffice.org Draw
Name[ro]=OpenOffice.org Draw
Name[ru]=OpenOffice.org Draw
Name[si]=OpenOffice.org Draw
Name[sk]=OpenOffice.org Draw
Name[sl]=OpenOffice.org Draw
Name[sr]=OpenOffice.org Draw
Name[sr@latin]=OpenOffice.org Draw
Name[sv]=OpenOffice.org Draw
Name[ta]=OpenOffice.org ட்ரா
Name[te]=OpenOffice.org చిత్రం
Name[th]=OpenOffice.org Draw
Name[tr]=OpenOffice.org Çizim
Name[uk]=OpenOffice.org Draw
Name[ur]=OpenOffice.org Draw
Name[vi]=OpenOffice.org Draw
Name[zh_CN]=OpenOffice.org Draw
Name[zh_TW]=OpenOffice.org Draw
Name[zu]=I-OpenOffice.org Yokudweba
Comment=Draw diagrams and figures
Comment[af]=Teken grafieke en diagramme
Comment[am]=ንድፎችን እና ቅርጾችን ሣል
Comment[ar]=رسم تخطيطات و أشكال
Comment[as]=ছবি আৰু আকৃতি অঙ্কন কৰক
Comment[be]=Малюе дыяграмы й фігуры
Comment[bg]=Рисуване на диаграми и фигури
Comment[bn]=ডায়াগ্রাম ও চিত্র আঁকুন
Comment[bn_IN]=ডায়াগ্রাম ও চিত্র আঁকুন
Comment[ca]=Dibuixeu diagrames i figures
Comment[cs]=Kreslit diagramy a obrázky
Comment[cy]=Tynnu deiagramau a ffigurau
Comment[da]=Tegn diagrammer og figurer
Comment[de]=Diagramme und Grafiken zeichnen
Comment[el]=Σχήματα και διαγράμματα
Comment[en_GB]=Draw diagrams and figures
Comment[es]=Dibujar diagramas y figuras 
Comment[et]=Diagrammide ja joonistuste loomine
Comment[fa]=کشیدن شکل و طرح های هندسی
Comment[fi]=Piirrä kaavioita ja kuvioita
Comment[fr]=Dessin de diagrammes et figures
Comment[gl]=Debuxe diagramas e figuras
Comment[gu]=આલેખો અને આકૃતિઓ દોરો
Comment[he]=צייר דיאגרמות וצורות
Comment[hi]=आरेख और आकृति बनाएँ
Comment[hr]=Crtanje grafikona i oblika
Comment[hu]=Diagramok és alakzatok készítése
Comment[hy]=Նկարել դիագրամներ
Comment[id]=Gambar diagram dan bentuk
Comment[is]=Teikna myndir
Comment[it]=Disegna diagrammi e figure
Comment[ja]=ダイアグラムと図案を描きます。
Comment[ka]=დიაგრამების და ფიგურების დახაზვა
Comment[kn]=ರೇಖಾಕೃತಿಗಳು ಮತ್ತು ಆಕೃತಿಗಳನ್ನು ಬಿಡಿಸಿ
Comment[ko]=도표와 도형 그리기
Comment[lt]=Braižo diagramas ir figuras
Comment[lv]=Zīmēt diagrammas un figūras
Comment[mk]=Цртајте дијаграми и фигури
Comment[ml]=ചിത്രങ്ങള്‍ വരയ്ക്കുക
Comment[mr]=आकृत्या आणि रेखाकृत्या काढा
Comment[ms]=Lukis Diagram dan gambarajah
Comment[nb]=Tegn diagrammer og figurer
Comment[nl]=Diagrammen en figuren tekenen
Comment[nso]=Thala diswantšho le dithalwa
Comment[or]=ଆକୃତି କିମ୍ବା ଚିତ୍ର ଅଙ୍କନ କରନ୍ତୁ
Comment[pa]=ਡਾਇਗਰਾਮ ਅਤੇ ਰੇਖਾ-ਚਿੱਤਰ ਬਣਾਓ
Comment[pl]=Rysowanie diagramów i figur
Comment[pt]=Desenhe diagramas e figuras
Comment[pt_BR]=Desenhe diagramas e figuras
Comment[ro]=Desenează diagrame şi figuri
Comment[ru]=Рисует изображения и диаграммы
Comment[si]=රූප සටහන් සහ හැඩයන් අඳින්න
Comment[sk]=Kresliť diagramy a obrázky
Comment[sl]=Riše diagrame in slike
Comment[sr]=Цртање дијаграма и слика
Comment[sr@latin]=Crtanje dijagrama i slika
Comment[sv]=Rita diagram och figurer
Comment[ta]=வரைபடங்கள் மற்றும் உருவங்களை வரையவும்
Comment[te]=రేఖాచిత్రాలను మరియూ ఆకృతులను చిత్రించు
Comment[th]=วาดไดอะแกรม
Comment[tr]=Çizelge ve şekil çizer
Comment[uk]=Креслення діаграм та фігур
Comment[ur]=شکلیں اور تصو یر یں بنا ٔیں
Comment[vi]=Vẽ hình và lược đồ
Comment[zh_CN]=绘制图表
Comment[zh_TW]=繪製圖表與插圖
Comment[zu]=Dweba imidwebo yolayini kanye nezinombolo
Exec=oodraw
Icon=ooo_draw.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.draw;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;
