[Desktop Entry]
Name=OpenOffice.org Impress
Name[af]=OpenOffice.org Impress
Name[am]=OpenOffice.orgን አድንቅ
Name[ar]=أوبن أوفيس.أورغ إمْبرس
Name[as]=OpenOffice.org মুদ্ৰণ
Name[be]=OpenOffice.org Impress
Name[bg]=OpenOffice.org Impress
Name[bn]=OpenOffice.org ইমপ্রেস
Name[bn_IN]=OpenOffice.org Impress
Name[ca]=OpenOffice.org Impress
Name[cs]=OpenOffice.org Impress
Name[cy]=OpenOffice.org Impress
Name[da]=OpenOffice.org Impress
Name[de]=OpenOffice.org Impress
Name[el]=OpenOffice.org Impress
Name[en_GB]=OpenOffice.org Impress
Name[es]=Impress de OpenOffice.org
Name[et]=OpenOffice.org Esitlus (Impress)
Name[fa]=OpenOffice.org Impress
Name[fi]=OpenOffice.org Impress
Name[fr]=OpenOffice.org Impress
Name[gl]=OpenOffice.org Impress
Name[gu]=Openoffice.org ઈમ્પ્રેસ
Name[he]=OpenOffice.org מצגות
Name[hi]=OpenOffice.org इंप्रेस
Name[hr]=OpenOffice.org Impress
Name[hu]=OpenOffice.org Impress
Name[hy]=OpenOffice.org Impress
Name[id]=OpenOffice.org Impress
Name[is]=OpenOffice.org Impress
Name[it]=OpenOffice.org Impress
Name[ja]=OpenOffice.org Impress
Name[ka]=OpenOffice.org Impress
Name[kn]=OpenOffice.org ವಶೀಕರಣ
Name[ko]=OpenOffice.org Impress
Name[lt]=OpenOffice.org Impress
Name[lv]=OpenOffice.org Impress
Name[mk]=OpenOffice.org презентации
Name[ml]=ഓപ്പണ്‍ഓഫീസ്.ഓര്‍ഗ് ഇംപ്രസ്സ്
Name[mr]=OpenOffice.org इंम्प्रेस
Name[ms]=OpenOffice.org Impress
Name[nb]=OpenOffice.org Impress
Name[nl]=OpenOffice.org Impress
Name[nso]=Go Kgahliša ga OpenOffice.org
Name[or]=OpenOffice.org ର ବିଶେଷ୍ଯତ
Name[pa]=OpenOffice.org ਪੇਸ਼ਕਾਰੀ
Name[pl]=OpenOffice.org Impress
Name[pt]=OpenOffice.org Impress
Name[pt_BR]=OpenOffice.org Impress
Name[ro]=OpenOffice.org Impress
Name[ru]=OpenOffice.org Impress
Name[si]=OpenOffice.org Impress
Name[sk]=OpenOffice.org Impress
Name[sl]=OpenOffice.org Impress
Name[sr]=OpenOffice.org Impress
Name[sr@latin]=OpenOffice.org Impress
Name[sv]=OpenOffice.org Impress
Name[ta]=OpenOffice.org இம்ப்ரஸ்
Name[te]=OpenOffice.org Impress
Name[th]=OpenOffice.org Impress
Name[tr]=OpenOffice.org Sunum
Name[uk]=OpenOffice.org Impress
Name[ur]=OpenOffice.org Impress
Name[vi]=OpenOffice.org Impress
Name[zh_CN]=OpenOffice.org Impress
Name[zh_TW]=OpenOffice.org Impress
Name[zu]=I-OpenOffice.org Impress
Comment=Create presentations
Comment[af]=Skep voorleggings
Comment[am]=የሚቀርብ ነገር ፍጠር
Comment[ar]=إنشاء تقديمات
Comment[as]=আলেখ্য প্ৰদৰ্শন সৃষ্টি কৰক
Comment[be]=Стварэньн прадстаўленьняў
Comment[bg]=Създаване на презентации
Comment[bn]=উপস্থাপনা তৈরি করো
Comment[bn_IN]=উপস্থাপনা নির্মাণ
Comment[ca]=Dissenyeu presentacions
Comment[cs]=Vytvořit prezentaci
Comment[cy]=Creu cyflwyniadau
Comment[da]=Lav præsentationer
Comment[de]=Präsentationen erstellen
Comment[el]=Δημιουργία παρουσιάσεων
Comment[en_GB]=Create presentations
Comment[es]=Crear presentaciones 
Comment[et]=Esitluste loomine
Comment[fa]=ایجاد معرفی نامه
Comment[fi]=Luo esityksiä
Comment[fr]=Créer des présentations
Comment[gl]=Cree presentacións
Comment[gu]=રજૂઆતો બનાવો
Comment[he]=צור מצגות
Comment[hi]=प्रस्तुति निर्मित करें
Comment[hr]=Izrada prezentacija
Comment[hu]=Bemutatók létrehozása
Comment[hy]=Ստեղծել պրեզենտացիա
Comment[id]=Membuat presentasi
Comment[is]=Búa til kynningu
Comment[it]=Crea presentazioni
Comment[ja]=プレゼンテーションを作成
Comment[ka]=პრეზენტაციების შექმნა
Comment[kn]=ಪ್ರಸ್ತುತಿಗಳನ್ನು ಸೃಷ್ಟಿಸಿ
Comment[ko]=프레젠테이션 만들기
Comment[lt]=Kurti prezentacijas
Comment[lv]=Prezentāciju veidošana
Comment[mk]=Креирајте презентации
Comment[ml]=പ്രസന്‍റേഷനുകള്‍ തയ്യാറാക്കുക
Comment[mr]=सादरीकरण तयार करा
Comment[ms]=Cipta persembahan
Comment[nb]=Lag presentasjoner
Comment[nl]=Presentaties maken
Comment[nso]=Dira dihlagišo
Comment[or]=ପ୍ରସ୍ତୁତିକରଣ ସୃଷ୍ଟି କରନ୍ତୁ
Comment[pa]=ਪੇਸ਼ਕਾਰੀ ਬਣਾਓ
Comment[pl]=Tworzenie prezentacji
Comment[pt]=Crie apresentações
Comment[pt_BR]=Crie apresentações
Comment[ro]=Creează prezentări
Comment[ru]=Создание презентаций
Comment[si]=පිළිගැන්වීමක් සාදන්න
Comment[sk]=Vytvoriť prezentácie
Comment[sl]=Ustvari predstavitve
Comment[sr]=Правите презентације
Comment[sr@latin]=Pravite prezentacije
Comment[sv]=Skapa presentationer
Comment[ta]=காட்சி வில்லைகளை உருவாக்கவும்
Comment[te]=సమర్పణను సృష్టించు
Comment[th]=สร้างงานนำเสนอ
Comment[tr]=Sunum hazırlama
Comment[uk]=Створення презентацій
Comment[ur]=تصو یر ی خا کہ بنا نا
Comment[vi]=Tạo trình diễn
Comment[zh_CN]=创建演示文稿
Comment[zh_TW]=建立簡報
Comment[zu]=Dala okokukhombisa
Exec=ooimpress
Icon=redhat-presentations.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Office;X-Red-Hat-Base;
MimeType=application/vnd.stardivision.impress;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.ms-powerpoint;application/mspowerpoint;application/powerpoint;application/x-mspowerpoint;application/x-ole-storage;
StartupWMClass=VCLSalFrame
