[Desktop Entry]
Name=Web Browser
Name[af]=Webblaaier
Name[am]=የዌብ መቃኛ
Name[ar]=متصفّح الانترنت
Name[as]=ওৱেব চৰক
Name[bg]=Браузър
Name[bn]=ওয়েব ব্রাউজার
Name[bn_IN]=ওয়েব ব্রাউজার
Name[ca]=Navegador web
Name[cs]=Prohlížeč WWW
Name[cy]=Porwr Gwe
Name[da]=Internetbrowser
Name[de]=Webbrowser
Name[el]=Περιηγητής ιστοσελίδων
Name[en_GB]=Web Browser
Name[es]=Navegador web
Name[et]=Veebilehitseja
Name[fa]=مرورگر وب
Name[fi]=WWW-selain
Name[fr]=Navigateur Web
Name[gl]=Navegador Web
Name[gu]=વેબ બ્રાઉઝર
Name[he]=דפדפן אינטרנט
Name[hi]=वेब ब्राउज़र
Name[hr]=Web preglednik
Name[hu]=Webböngésző
Name[hy]=Վեբ բրաուզեր
Name[id]=Browser Web
Name[is]=Vafri
Name[it]=Browser web
Name[ja]=GNOME ウェブ・ブラウザ
Name[ka]=ვებ-ბროუზერი
Name[kn]=ಜಾಲ ಪ್ರದರ್ಶಕ
Name[ko]=웹 브라우저
Name[lt]=Web naršyklė
Name[lv]=Interneta pārlūks
Name[mk]=Веб прелистувач
Name[ml]=വെബ് ബ്രൌസര്‍
Name[mr]=वेब ब्राउझर
Name[ms]=Pelungsur Web
Name[nb]=Nettleser
Name[nl]=Web-browser
Name[nso]=Sefetleki sa Wepe
Name[or]=ୱେବ ବ୍ରାଉଜର
Name[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Przeglądarka WWW
Name[pt]=Navegador Web
Name[pt_BR]=Navegador web
Name[ro]=Navigator Internet
Name[ru]=Браузер веб-страниц
Name[si]=වියුණු සැරිසරණය
Name[sk]=WWW prehliadač
Name[sl]=Spletni brskalnik
Name[sq]=Shfletuesi Web
Name[sr]=Веб читач
Name[sr@latin]=Veb čitač
Name[sv]=Webbläsare
Name[ta]=இணைய உலாவி
Name[te]=Web Browser
Name[th]=เว็บเบราว์เซอร์
Name[tr]=Web Tarayıcı
Name[uk]=Переглядач web-сторінок
Name[vi]=Trình duyệt Web
Name[zh_CN]=Web 浏览器
Name[zh_TW]=網頁瀏覽器
Comment=Browse the web
Comment[af]=Blaai op die web
Comment[am]=ዌቡን ቃኝ
Comment[ar]=تصفح الانترنت
Comment[as]=ওৱেব চৰণ কৰক
Comment[bg]=Сърфиране в Интернет
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[bn_IN]=ওয়েব ব্রাউজ করুন
Comment[ca]=Navegueu per la web
Comment[cs]=Prohlížet WWW
Comment[cy]=Pori'r we
Comment[da]=Gå på internettet
Comment[de]=Im Web surfen
Comment[el]=Περιήγηση στον παγκόσμιο ιστό
Comment[en_GB]=Browse the web
Comment[es]=Navegar por la web
Comment[et]=Veebi kasutamine
Comment[fa]=مرور وب
Comment[fi]=Selaa WWW:tä
Comment[fr]=Naviguer sur Internet
Comment[gl]=Navegue pola web
Comment[gu]=વેબમાં શોધો
Comment[he]=גלוש באינטרנט
Comment[hi]=वेब ब्राउज़ करें
Comment[hr]=Pregledavanje Interneta
Comment[hu]=A világháló böngészése
Comment[hy]=Շրջել վեբում
Comment[id]=Jelajah web
Comment[ilo]=Palabsan ti web
Comment[is]=Flakka um netið
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ka]=ვებ-გვერდების დასათვალიერებელი პროგრამა
Comment[kn]=ಅಂತರ್ಜಾಲವನ್ನು ವೀಕ್ಷಿಸಿ
Comment[ko]=웹을 돌아 다닙니다
Comment[lt]=Naršyti internete
Comment[lv]=Sērfot internetā
Comment[mk]=Прелистајте ја мрежата
Comment[ml]=വെബില്‍ തിരയുക
Comment[mr]=वेब चाळणे
Comment[ms]=Layari web
Comment[nb]=Surf på nettet
Comment[nl]=Websurfen
Comment[nso]=Fetleka wepe
Comment[or]=ୱେବରେ ଖୋଜନ୍ତୁ
Comment[pa]=ਵੈੱਬ ਝਲਕ ਵੇਖੋ
Comment[pl]=Przeglądanie WWW
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegue na web
Comment[ro]=Navigare Internet
Comment[ru]=Программа для просмотра веб-страниц
Comment[si]=වියුණ සැරිසරන්න
Comment[sk]=Prehliadať internet
Comment[sl]=Brskaj po spletu
Comment[sq]=Eksploro web-in
Comment[sr]=Разгледајте веб
Comment[sr@latin]=Razgledajte veb
Comment[sv]=Surfa på nätet
Comment[ta]=இணையத்தில் உலாவவும்
Comment[te]=webని తెరువు
Comment[th]=ท่องเว็บ
Comment[tr]=Web'e Gözat
Comment[uk]=Програма перегляду web-сторінок
Comment[vi]=Duyệt web
Comment[zh_CN]=浏览 Web
Comment[zh_TW]=瀏覽網頁
Exec=htmlview %u
Icon=redhat-web-browser.png
Terminal=0
Type=Application
NoDisplay=true
Encoding=UTF-8
Categories=Application;Network;X-Red-Hat-Base;X-Red-Hat-Base-Only;
StartupNotify=True
