<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>system-config-services</vendor>
  <vendor_url>http://fedorahosted.org/system-config-services</vendor_url>
  <icon_name>system-config-services</icon_name>
  <action id="org.fedoraproject.config.services.info">
    <description>Get information about system services</description>
    <description xml:lang="as">ব্যৱস্থাপ্ৰণালীৰ সেৱা সমূহৰ বিষয়ে তথ্য পাওক</description>
    <description xml:lang="ast">Obtener información sobro los servicios del sistema</description>
    <description xml:lang="bn_IN">সিস্টেমের পরিসেবা সম্পর্কে তথ্য প্রাপ্ত করুন</description>
    <description xml:lang="ca">Obteniu informació quant als serveis del sistema</description>
    <description xml:lang="cs">Získat informace o systémových službách</description>
    <description xml:lang="da">Hent information om systemtjenester</description>
    <description xml:lang="de">Auf Informationen über System-Dienste zugreifen</description>
    <description xml:lang="el">Λήψη πληροφοριών για τις υπηρεσίες συστήματος</description>
    <description xml:lang="es">Obtener información sobre los servicios del sistema</description>
    <description xml:lang="fi">Tietoja järjestelmän palveluista</description>
    <description xml:lang="fr">Obtient des informations sur les services du système</description>
    <description xml:lang="gu">સિસ્ટમ સેવાઓ વિશે જાણકારીને મેળવો</description>
    <description xml:lang="he">קבל מידע על שירותי מערכת</description>
    <description xml:lang="hi">तंत्र सेवा के बारे में सूचना पाएँ</description>
    <description xml:lang="hu">Szerezzen információkat a rendszer szolgáltatásairól</description>
    <description xml:lang="id">Dapatkan informasi tentang layanan sistem</description>
    <description xml:lang="it">Ottiene le informazioni sui servizi del sistema</description>
    <description xml:lang="ja">システムサービスの情報を取得</description>
    <description xml:lang="kn">ವ್ಯವಸ್ಥೆಯ ಸೇವೆಗಳ ಬಗೆಗೆ ಮಾಹಿತಿಯನ್ನು ಪಡೆದುಕೊಳ್ಳಿ</description>
    <description xml:lang="ko">시스템 서비스에 관한 정보 얻기  </description>
    <description xml:lang="mai">तंत्र सेवाक संबंधमे सूचना पाउ</description>
    <description xml:lang="ml">സിസ്റ്റം സര്‍വീസുകളെപ്പറ്റി വിവരങ്ങള്‍ ലഭ്യമാക്കുക</description>
    <description xml:lang="mr">प्रणाली सेवाविष्यी माहिती प्राप्त करत आहे</description>
    <description xml:lang="nb">Hent informasjon om systemtjenestene</description>
    <description xml:lang="nl">Haal informatie op over systeem services</description>
    <description xml:lang="or">ତନ୍ତ୍ର ସର୍ଭିସ ବିଷୟରେ ସୂଚନା ଗ୍ରହଣ କରନ୍ତୁ</description>
    <description xml:lang="pa">ਸਿਸਟਮ ਸਰਵਿਸਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ ਲਵੋ</description>
    <description xml:lang="pl">Uzyskanie informacji o usługach systemowych</description>
    <description xml:lang="pt">Obter informação acerca dos serviços do sistema</description>
    <description xml:lang="pt_BR">Obtenha informações sobre os serviços do sistema</description>
    <description xml:lang="ru">Получение информации о системных службах</description>
    <description xml:lang="sk">Získanie informácií o systémových službách</description>
    <description xml:lang="sr">Добављање информација о системским сервисима</description>
    <description xml:lang="sr@latin">Dobavljanje informacija o sistemskim servisima</description>
    <description xml:lang="sv">Hämta information om systemtjänster</description>
    <description xml:lang="ta">கணினி சேவைகள் பற்றிய தகவலை பெறு</description>
    <description xml:lang="te">సిస్టమ్ సేవల గురించి సమాచారమును పొందుము</description>
    <description xml:lang="uk">Отримати інформацію про системні служби</description>
    <description xml:lang="zh_CN">	翻译： 英语 » 中文
Get information about system services
	 	
获取有关服务的信息系统</description>
    <description xml:lang="zh_TW">取得有關於系統服務的資訊</description>
    <message>Getting information about system services requires authentication</message>
    <message xml:lang="as">প্ৰণালীৰ সেৱাৰ তথ্য পাবলৈ প্ৰমাণীকৰণৰ প্ৰয়োজন</message>
    <message xml:lang="bn_IN">সিস্টেমের পরিসেবা সংক্রান্ত তথ্য প্রাপ্ত করার জন্য অনুমোদন প্রয়োজন</message>
    <message xml:lang="cs">Získání informací o systémových službách vyžaduje autentizaci</message>
    <message xml:lang="da">Henter information om systemtjenester som kræver godkendelse</message>
    <message xml:lang="de">Die Abrufung von Informationen über Systemdienste verlangt eine Authentifizierung</message>
    <message xml:lang="el">Η λήψη πληροφοριών σχετικά με τις υπηρεσίες συστήματος απαιτεί πιστοποίηση</message>
    <message xml:lang="es">Es necesario autenticarse para obtener información acerca de los servicios del sistema  </message>
    <message xml:lang="fi">Järjestelmäpalvelutietojen lukeminen vaatii tunnistautumisen</message>
    <message xml:lang="fr">L'accès aux informations sur les services du système nécessite une authentification</message>
    <message xml:lang="gu">સિસ્ટમ સેવાઓને સત્તાધિકરણની જરૂર છે તે વિશે જાણકારી મેળવી રહ્યા છે</message>
    <message xml:lang="he">קבלת מידע על שירותי המערכת דורשת אימות</message>
    <message xml:lang="hu">A rendszerszolgáltatások lekérdezése hitelesítést igényel</message>
    <message xml:lang="id">Memperoleh informasi tentang layanan sistem memerlukan otentikasi</message>
    <message xml:lang="it">Ottenere informazioni sui servizi di sistema richiede l'autenticazione</message>
    <message xml:lang="ja">システムサービスの情報を取得するには認証が必要です</message>
    <message xml:lang="kn">ವ್ಯವಸ್ಥೆಯ ಸೇವೆಗಳ ಬಗೆಗೆ ಮಾಹಿತಿಯನ್ನು ಪಡೆದುಕೊಳ್ಳಲು ದೃಢೀಕರಿಸುವ ಅಗತ್ಯವಿರುತ್ತದೆ</message>
    <message xml:lang="ko">시스템 서비스에 대한 정보를 얻기 위해서는 인증이 필요합니다</message>
    <message xml:lang="ml">സിസ്റ്റം സര്‍വീസുകളെപ്പറ്റി വിവരം ലഭിക്കുന്നതിനായി ആധികാരികത ഉറപ്പാക്കേണ്ടതുണ്ടു്</message>
    <message xml:lang="mr">प्रणाली सेवांविषयी माहिती प्राप्त करण्यासाठी ओळख पटवणे आवश्यक आहे</message>
    <message xml:lang="nb">Du må autentisere deg for å hente informasjon om systemtjenestene</message>
    <message xml:lang="nl">Het ophalen van informatie over systeem services vereist authenticatie</message>
    <message xml:lang="or">ତନ୍ତ୍ର ସର୍ଭିସଗୁଡ଼ିକ ବିଷୟରେ ସୂଚନା ପାଇବା ପାଇଁ ବୈଧିକରଣ ଆବଶ୍ୟକ</message>
    <message xml:lang="pa">ਸਿਸਟਮ ਸਰਵਿਸਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ ਲੈਣ ਲਈ ਪ੍ਰਮਾਣਿਕਤਾ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Pobieranie informacji o usługach systemowych wymaga uwierzytelnienia</message>
    <message xml:lang="pt">Obter informação sobre os serviços do sistema requer autenticação</message>
    <message xml:lang="pt_BR">A obtenção de informações sobre serviços do sistema requer autenticação</message>
    <message xml:lang="ru">Получение информации о системных службах требует аутентификации</message>
    <message xml:lang="sk">Získanie informácií o systémových službách vyžaduje overenie</message>
    <message xml:lang="sr">Добављање информација о системским сервисима захтева аутентификацију</message>
    <message xml:lang="sr@latin">Dobavljanje informacija o sistemskim servisima zahteva autentifikaciju</message>
    <message xml:lang="te">సిస్టమ్ సేవల గురించి సమాచారము పొందుటకు ధృవీకరణ అవసరము</message>
    <message xml:lang="uk">Отримання інформації про системні служби вимагає автентифікації</message>
    <message xml:lang="zh_CN">获取系统服务信息需要验证</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
  <action id="org.fedoraproject.config.services.manage">
    <description>Manage system services</description>
    <description xml:lang="as">ব্যৱস্থাপ্ৰণালীৰ সেৱা পৰিচালনা কৰক</description>
    <description xml:lang="ast">Alministración de servicios del sistema</description>
    <description xml:lang="bn_IN">সিস্টেমের পরিসেবা পরিচালনা করুন</description>
    <description xml:lang="ca">Gestioneu els serveis del sistema</description>
    <description xml:lang="cs">Spravovat systémové služby</description>
    <description xml:lang="da">Håndtér systemtjenester</description>
    <description xml:lang="de">System-Dienste verwalten</description>
    <description xml:lang="el">Διαχείριση υπηρεσιών συστήματος</description>
    <description xml:lang="es">Administración de servicios del sistema</description>
    <description xml:lang="fi">Hallitse järjestelmän palveluja</description>
    <description xml:lang="fr">Gére les services du système</description>
    <description xml:lang="gu">સિસ્ટમ સેવાઓને સંચાલિત કરો</description>
    <description xml:lang="he">נהל שירותי מערכת</description>
    <description xml:lang="hi">तंत्र सेवा प्रबंधित करें</description>
    <description xml:lang="hu">Rendszer-szolgáltatások kezelése</description>
    <description xml:lang="id">Mengelola layanan sistem</description>
    <description xml:lang="it">Gestisce i servizi del sistema</description>
    <description xml:lang="ja">システムサービスを管理</description>
    <description xml:lang="kn">ವ್ಯವಸ್ಥೆಯ ಸೇವೆಗಳನ್ನು ವ್ಯವಸ್ಥಾಪಿಸಿ</description>
    <description xml:lang="ko">시스템 서비스 관리  </description>
    <description xml:lang="mai">तंत्र सेवा प्रबंधित करू</description>
    <description xml:lang="ml">സിസ്റ്റം സര്‍വീസുകള്‍ കൈകാര്യം ചെയ്യുക</description>
    <description xml:lang="mr">प्रणाली सेवा व्यवस्थापीत करा</description>
    <description xml:lang="nb">Håndter systemtjenester</description>
    <description xml:lang="nl">Beheer systeem services</description>
    <description xml:lang="or">ତନ୍ତ୍ର ସର୍ଭିସଗୁଡ଼ିକୁ ପରିଚାଳନା କରନ୍ତୁକରନ୍ତ</description>
    <description xml:lang="pa">ਸਿਸਟਮ ਸਰਵਿਸਾਂ ਦਾ ਪਰਬੰਧਨ</description>
    <description xml:lang="pl">Zarządzanie usługami systemowymi</description>
    <description xml:lang="pt">Gerir os serviços do sistema</description>
    <description xml:lang="pt_BR">Gerencie os serviços do sistema</description>
    <description xml:lang="ru">Управление системными службами</description>
    <description xml:lang="sk">Správa systémových služieb</description>
    <description xml:lang="sr">Управљање системским сервисима</description>
    <description xml:lang="sr@latin">Upravljanje sistemskim servisima</description>
    <description xml:lang="sv">Administrera systemtjänster</description>
    <description xml:lang="ta">கணினி சேவைகளை நிர்வகி</description>
    <description xml:lang="te">సిస్టమ్ సేవలను నిర్వహించుము</description>
    <description xml:lang="uk">Керування системними службами</description>
    <description xml:lang="zh_CN">	
管理系统服务</description>
    <description xml:lang="zh_TW">管理系統服務</description>
    <message>Managing system services requires authentication</message>
    <message xml:lang="as">প্ৰণালীৰ সেৱা পৰিচালন কৰিবলৈ প্ৰমাণীকৰণৰ প্ৰয়োজন</message>
    <message xml:lang="bn_IN">সিস্টেমের পরিসেবা পরিচালনা করার জন্য অনুমোদন প্রয়োজন</message>
    <message xml:lang="cs">Spravování systémových služeb vyžaduje autentizaci</message>
    <message xml:lang="da">Håndterer systemtjenester som kræver godkendelse</message>
    <message xml:lang="de">Die Verwaltung von Systemdiensten verlangt eine Authentifizierung</message>
    <message xml:lang="el">Η διαχείρηση υπηρεσιών συστήματος απαιτεί πιστοποίηση</message>
    <message xml:lang="es">Es necesario autenticarse para administrar los servicios del sistema  </message>
    <message xml:lang="fi">Järjestelmäpalvelujen hallitseminen vaatii tunnistautumisen</message>
    <message xml:lang="fr">La gestion des services du système requiert une authentification</message>
    <message xml:lang="gu">સંચાલિત સિસ્ટમ સેવાઓને સત્તાધિકરણની જરૂર છે</message>
    <message xml:lang="he">ניהול שירותי המערכת דורש אימות</message>
    <message xml:lang="hu">A szolgáltatások igazgatása hitelesítést igényel</message>
    <message xml:lang="id">Mengelola layanan sistem membutuhkan otentikasi</message>
    <message xml:lang="it">Gestire i servizi di sistema richiede l'autenticazione</message>
    <message xml:lang="ja">システムサービスを管理するには認証が必要です</message>
    <message xml:lang="kn">ವ್ಯವಸ್ಥೆಯ ಸೇವೆಗಳನ್ನು ನಿರ್ವಹಿಸಲು ದೃಢೀಕರಿಸುವ ಅಗತ್ಯವಿರುತ್ತದೆ</message>
    <message xml:lang="ko">시스템 서비스를 관리하기 위해서는 인증이 필요합니다</message>
    <message xml:lang="ml">സിസ്റ്റം സര്‍വീസുകള്‍ കൈകാര്യം ചെയ്യുന്നതിനായി ആധികാരികത ഉറപ്പാക്കേണ്ടതുണ്ടു്</message>
    <message xml:lang="mr">प्रणाली सेवांच्या व्यवस्थापनकरीता ओळख पटवणे आवश्यक आहे</message>
    <message xml:lang="nb">Du må autentisere deg for å håndtere systemtjenester</message>
    <message xml:lang="nl">Het beheren van systeem services vereist authenticatie</message>
    <message xml:lang="or">ତନ୍ତ୍ର ସର୍ଭିସଗୁଡ଼ିକୁ ପରିଚାଳନା କରିବା ପାଇଁ ବୈଧିକରଣ ଆବଶ୍ୟକ</message>
    <message xml:lang="pa">ਸਿਸਟਮ ਸਰਵਿਸਾਂ ਦੇ ਪਰਬੰਧਨ ਲਈ ਪ੍ਰਮਾਣਿਕਤਾ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Zarządzanie usługami systemowymi wymaga uwierzytelnienia</message>
    <message xml:lang="pt">Gerir serviços do sistema requer autenticação</message>
    <message xml:lang="pt_BR">O gerenciamento dos serviços de sistema requer autenticação</message>
    <message xml:lang="ru">Управление системными службами требует аутентификации</message>
    <message xml:lang="sk">Spravovanie systémových služieb vyžaduje overenie</message>
    <message xml:lang="sr">Управљање системским сервисима захтева аутентификацију</message>
    <message xml:lang="sr@latin">Upravljanje sistemskim servisima zahteva autentifikaciju</message>
    <message xml:lang="te">సిస్టమ్ సేవలను నిర్వహించుటకు ధృవీకరణ అవసరము</message>
    <message xml:lang="uk">Керування системними службами вимагає автентифікації</message>
    <message xml:lang="zh_CN">管理系统服务需要验证</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>