<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The DeviceKit-power Project</vendor>
  <vendor_url>http://hal.freedesktop.org/docs/DeviceKit-power/</vendor_url>
  <icon_name>system-suspend</icon_name>

  <action id="org.freedesktop.devicekit.power.qos.request-latency">
    <description>Set the required latency of an application</description>
    <message>Authentication is required to set the required latency of an application</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.devicekit.power.qos.request-latency-persistent">
    <description>Set a persistent latency setting</description>
    <message>Authentication is required to set a persistent latency setting</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.devicekit.power.qos.set-minimum-latency">
    <description>Set administrator settings for latency control</description>
    <message>Authentication is required to set administrator settings for latency control</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="org.freedesktop.devicekit.power.qos.cancel-request">
    <description>Cancel a latency request</description>
    <message>Authentication is required to cancel a latency request</message>
    <defaults>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>