<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>system-config-samba</vendor>
  <vendor_url>http://fedorahosted.org/system-config-samba</vendor_url>
  <icon_name>system-config-samba</icon_name>
  <action id="org.fedoraproject.config.samba.configure">
    <description>Configure Samba</description>
    <description xml:lang="ar">هيئ سامبا</description>
    <description xml:lang="as">Samba বিন্যাস কৰক</description>
    <description xml:lang="ast">Configurar Samba</description>
    <description xml:lang="bn_IN">Samba কনফিগার করুন</description>
    <description xml:lang="ca">Configureu el Samba</description>
    <description xml:lang="cs">Nastavit Sambu</description>
    <description xml:lang="da">Konfigurér Samba</description>
    <description xml:lang="de">Samba konfigurieren</description>
    <description xml:lang="el">Ρύθμιση Samba</description>
    <description xml:lang="es">Configurar Samba</description>
    <description xml:lang="fi">Samban asetukset</description>
    <description xml:lang="fr">Configurer Samba</description>
    <description xml:lang="gu">Samba ને રૂપરેખાંકિત કરો</description>
    <description xml:lang="he">הגדר את Samba</description>
    <description xml:lang="hi">सांबा विन्यस्त करें</description>
    <description xml:lang="hu">Samba beállítása</description>
    <description xml:lang="is">Stilla Samba</description>
    <description xml:lang="it">Configurazione di Samba</description>
    <description xml:lang="ja">Samba を設定</description>
    <description xml:lang="kn">Sambaವನ್ನು ಸಂರಚಿಸಿ</description>
    <description xml:lang="ko">Samba 설정  </description>
    <description xml:lang="mai">सांबा विन्यस्त करू</description>
    <description xml:lang="ml">സാംബാ ക്രമീകരിക്കുക</description>
    <description xml:lang="mr">Samba संरचीत करा</description>
    <description xml:lang="nb">Konfigurer Samba</description>
    <description xml:lang="nl">Samba configureren</description>
    <description xml:lang="or">Samba ସଂରଚନା କରନ୍ତୁ</description>
    <description xml:lang="pa">ਸਾਂਬਾ ਸੰਰਚਨਾ</description>
    <description xml:lang="pl">Konfiguracja Samby</description>
    <description xml:lang="pt">Configurar Samba</description>
    <description xml:lang="pt_BR">Configure o Samba</description>
    <description xml:lang="ru">Настроить Samba</description>
    <description xml:lang="sk">Nastaviť Sambu</description>
    <description xml:lang="sr">Подеси Самбу</description>
    <description xml:lang="sr@latin">Podesi Sambu</description>
    <description xml:lang="sv">Konfigurera Samba</description>
    <description xml:lang="ta">Sambaவை கட்டமை</description>
    <description xml:lang="te">సాంబా‌ను ఆకృతీకరించుము</description>
    <description xml:lang="th">ตั้งค่า Samba</description>
    <description xml:lang="uk">Налаштувати Samba</description>
    <description xml:lang="zh_CN">配置Samba</description>
    <description xml:lang="zh_TW">設定 Samba</description>
    <message>Configuring Samba requires authentication</message>
    <message xml:lang="bn_IN">Samba কনফিগার করার জন্য অনুমোদন প্রয়োজন</message>
    <message xml:lang="cs">Konfigurace Samby vyžaduje autentizaci</message>
    <message xml:lang="da">Konfigurering af Samba kræver godkendelse</message>
    <message xml:lang="de">Konfigurieren von Samba erfordert eine Berechtigung</message>
    <message xml:lang="el">Η ρύθμιση του Samba απαιτεί πιστοποίηση</message>
    <message xml:lang="es">Configurar Samba requiere autenticación</message>
    <message xml:lang="fi">Samban asetusten tekemiseen tarvitaan tunnistautuminen</message>
    <message xml:lang="fr">Configurer Samba nécessite de s'authentifier</message>
    <message xml:lang="he">הגדרת Samba דורשת אימות</message>
    <message xml:lang="hu">A Samba beállításához hitelesítés szükséges</message>
    <message xml:lang="is">Stillingar á Samba krefst auðkenningar</message>
    <message xml:lang="it">La configurazione di Samba richiede l'autenticazione</message>
    <message xml:lang="ja">Samba の設定には認証が必要です</message>
    <message xml:lang="nb">Konfigurasjon av Samba krever autentisering</message>
    <message xml:lang="nl">Samba configureren vereist authenticatie</message>
    <message xml:lang="pl">Konfigurowanie Samby wymaga uwierzytelnienia</message>
    <message xml:lang="pt">Configurar o Samba requer autenticação</message>
    <message xml:lang="pt_BR">A configuração do Samba requer autenticação</message>
    <message xml:lang="ru">Для настройки Samba необходимо авторизоваться</message>
    <message xml:lang="sk">Konfigurácia Samby vyžaduje overenie</message>
    <message xml:lang="sr">Подешавање Самбе захтева аутентификацију</message>
    <message xml:lang="sr@latin">Podešavanje Sambe zahteva autentifikaciju</message>
    <message xml:lang="th">การตั้งค่า Samba ต้องทำการยึนยันตน</message>
    <message xml:lang="uk">Для налаштовування Samba потрібна авторизація</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>