
[Desktop Entry]
Encoding=UTF-8
Name=Disk Notifications
Name[ar]=تنبيهات الأقراص
Name[as]=ডিস্ক সংক্ৰান্ত সূচনা
Name[bg]=Уведомления за дискови устройства
Name[bn]=ডিস্ক সংক্রান্ত সূচনা
Name[bn_IN]=ডিস্ক সংক্রান্ত সূচনা
Name[ca]=Notificacions de discs
Name[cs]=Oznámení od disku
Name[da]=Diskpåmindelser
Name[de]=Benachrichtigungen über das Laufwerk
Name[el]=Ειδοποιήσεις δίσκου
Name[en_GB]=Disk Notifications
Name[es]=Notificaciones de disco
Name[et]=Ketta teated
Name[eu]=Diskoen jakinarazpenak
Name[fi]=Levyhuomautukset
Name[fr]=Notifications des disques
Name[gl]=Notificacións de disco
Name[gu]=ડિસ્ક સૂચનો
Name[he]=התרעות כוננים
Name[hi]=डिस्क सूचनाएँ
Name[hu]=Lemezértesítések
Name[it]=Notifiche dischi
Name[ja]=ディスク通知
Name[kn]=ಡಿಸ್ಕ್‌ ಸೂಚನೆಗಳು
Name[ko]=디스크 알림
Name[lt]=Diskų pranešimai
Name[ml]=ഡിസ്ക് അറിയിപ്പുകള്‍
Name[mr]=डिस्क सूचना
Name[nb]=Diskvarsling
Name[or]=ଡିସ୍କ ବିଜ୍ଞପ୍ତି
Name[pa]=ਡਿਸਕ ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia obsługi dysków
Name[pt]=Notificações de Disco
Name[pt_BR]=Notificações de unidade
Name[ro]=Notificări disc
Name[ru]=Уведомления дисковой утилиты
Name[sl]=Diskovna opozorila
Name[sr]=Обавештења о диску
Name[sr@latin]=Obaveštenja o disku
Name[sv]=Disknotifieringar
Name[ta]=வட்டு அறிவிப்புகள்
Name[te]=డిస్కు నోటీసులు
Name[tr]=Disk Bildirimleri
Name[uk]=Повідомлення дисків
Name[zh_CN]=磁盘通告
Name[zh_HK]=磁碟通知
Name[zh_TW]=磁碟通知
Comment=Provides notifications related to disks
Comment[ar]=تعطي تنبيهات متعلقة بالأقراص
Comment[as]=ডিস্ক সংক্ৰান্ত সূচনা প্ৰদান কৰিবলৈ ব্যৱহৃত হয়
Comment[bg]=Показване на уведомления свързани с дискови устройства
Comment[bn]=ডিস্ক সংক্রান্ত সূচনা প্রদান করতে ব্যবহৃত হয়
Comment[bn_IN]=ডিস্ক সংক্রান্ত সূচনা প্রদান করতে ব্যবহৃত হয়
Comment[ca]=Proporciona notificacions relacionades amb els discs
Comment[cs]=Oznamuje události vztahující se k diskům
Comment[da]=Giver diskrelaterede påmindelser
Comment[de]=Stellt auf Medien bezogene Benachrichtigungen bereit
Comment[el]=Παρέχει ειδοποιήσεις σχετικές με δίσκους
Comment[en_GB]=Provides notifications related to disks
Comment[es]=Proporciona notificaciones relacionadas con los discos
Comment[et]=Tagab teated ketastega seatud sündmuste kohta
Comment[eu]=Diskoekin zerikusia duten jakinarazpenak emanten ditu
Comment[fi]=Näyttää levyihin liittyviä huomautuksia
Comment[fr]=Fournit des notifications relatives aux disques
Comment[gl]=Proporciona notificiacións relacionadas co disco
Comment[gu]=ડિસ્કોને સંબંધિત સૂચનાઓ પૂરી પાડે છે
Comment[he]=הצג התרעות הקשורות בכוננים
Comment[hi]=डिस्क संबंधित सूचना दें
Comment[hu]=Lemezekhez kapcsolódó értesítéseket biztosít
Comment[it]=Fornisce notifiche riguardanti i dischi
Comment[ja]=ディスクに関する通知を行います
Comment[kn]=ಡಿಸ್ಕುಗಳಿಗೆ ಸಂಬಂಧಿಸಿದ ಸೂಚನೆಗಳನ್ನು ಒದಗಿಸುತ್ತದೆ
Comment[ko]=디스크와 관련된 정보들을 알려줍니다
Comment[lt]=Pateikia su diskais susijusius pranešimus
Comment[ml]=ഡിസ്കിനോട് ബന്ധപ്പെട്ടുള്ള അറിയിപ്പുകള്‍ നല്‍കുന്നു
Comment[mr]=डिस्क संबंधित सूचना पुरवतो
Comment[nb]=Gir varsling relatert til disker
Comment[or]=ଏହି ଡିସ୍କ ସମ୍ପର୍କୀୟ ବିଜ୍ଞପ୍ତି ପ୍ରଦାନ କରିଥାଏ
Comment[pa]=ਡਿਸਕ ਨਾਲ ਸਬੰਧਿਤ ਨੋਟੀਫਿਕੇਸ਼ਨ ਦਿੰਦਾ ਹੈ
Comment[pl]=Dostarcza powiadomienia związane z dyskami
Comment[pt]=Disponibiliza notificações relacionados com discos
Comment[pt_BR]=Fornece notificações relacionadas a unidades
Comment[ro]=Furnizează notificări în legătură cu discurile
Comment[ru]=Уведомления, относящиеся к дискам
Comment[sl]=Zagotavlja opozorila o delovanju diskov
Comment[sr]=Укључује обавештења везана за дискове
Comment[sr@latin]=Uključuje obaveštenja vezana za diskove
Comment[sv]=Tillhandahåller notifieringar relaterade till diskar
Comment[ta]=வட்டுகள் தொடர்புடைய அனைத்து அறிவிப்புகளை தருகிறது
Comment[te]=డిస్కునకు సంభందించిన నోటీసులను అందిస్తుంది
Comment[tr]=Diskler ile ilgili bildirimleri sağlar
Comment[uk]=Повідомлення пов'язані з дисками
Comment[zh_CN]=提供磁盘相关的通告
Comment[zh_HK]=提供與磁碟機相關的系統通知
Comment[zh_TW]=提供與磁碟機相關的系統通知
Icon=gdu-notification-daemon
Exec=/usr/libexec/gdu-notification-daemon
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-disk-utility
X-GNOME-Bugzilla-Component=notifications
X-GNOME-Bugzilla-Version=2.28.1
#X-GNOME-AutoRestart=true
X-Desktop-File-Install-Version=0.15
