[Desktop Entry]
Type=Application
Name=Seahorse Daemon
Name[ar]=عفريت حصان البحر
Name[as]=Seahorse ডেমন
Name[bg]=Демон на Seahorse
Name[bn]=Seahorse ডেমন
Name[bn_IN]=Seahorse ডেমন
Name[br]=Droukspered Seahorse
Name[ca]=Dimoni del Seahorse
Name[ca@valencia]=Dimoni del Seahorse
Name[cs]=démon Seahorse
Name[da]=Seahorse-dæmon
Name[de]=Seahorse-Dienst
Name[el]=Δαίμονας του seahorse
Name[en_GB]=Seahorse Daemon
Name[es]=Demonio de Seahorse
Name[et]=Seahorse deemon
Name[eu]=Seahorse daemon-a
Name[fi]=Seahorse-palvelinprosessi
Name[fr]=Démon Seahorse
Name[ga]=Deamhan Seahorse
Name[gl]=Demoño Seahorse
Name[gu]=Seahorse ડેઇમન
Name[hi]=सीहोर्स डेमॉन
Name[hu]=Seahorse démon
Name[it]=Demone seahorse
Name[ja]=Seahorse のデーモン
Name[kn]=Seahorse ಡೀಮನ್
Name[ko]=시호스 데몬
Name[lt]=Seahorse tarnyba
Name[ml]=Seahorse ഡെമണ്‍
Name[mr]=Seahorse डिमन
Name[nb]=Seahorse-tjeneste
Name[nl]=Seahorse-daemon
Name[or]=Seahorse ଡେମନ
Name[pa]=ਸੀ-ਹਾਰਸ ਡੈਮਨ
Name[pl]=Usługa Seahorse
Name[pt]=Daemon Seahorse
Name[pt_BR]=Daemon do Seahorse
Name[ru]=Демон Seahorse
Name[sl]=Šifrirni demon (Seahorse)
Name[sr]=Услужни програм Морског коњића
Name[sr@latin]=Uslužni program Morskog konjića
Name[sv]=Seahorse-demon
Name[ta]=சீஹார்ஸ் கிங்கரன்
Name[te]=Seahorse ‍డెమోన్
Name[th]=ดีมอน Seahorse
Name[tr]=Seahorse Servisi
Name[uk]=Служба Seahorse
Name[vi]=Trình nền Seahorse
Name[zh_CN]=Seahorse 守护进程
Name[zh_HK]=Seahorse 伺服程式
Name[zh_TW]=Seahorse 伺服程式
Exec=seahorse-daemon
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-AutoRestart=true
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=Daemon
X-GNOME-Bugzilla-Version=2.28.1

