[Desktop Entry]
Type=Application
Name=Login Window
Name[af]=Aanmeldvenster
Name[ar]=نافذة الولوج
Name[as]=প্ৰৱেশ পৰ্দ্দা
Name[ast]=Ventana d'entrada
Name[be]=Акно ўваходу
Name[be@latin]=Akno ŭvachodu
Name[bg]=Екран за идентификация
Name[bn]=লগইন উইন্ডো
Name[bn_IN]=লগ-ইন উইন্ডো
Name[br]=Prenestr kennaskañ
Name[ca]=Finestra d'entrada
Name[ca@valencia]=Finestra d'entrada
Name[crh]=İçeri İmzalanuv Penceresi
Name[cs]=Přihlašovací okno
Name[cy]=Ffenestr Mewngofnodi
Name[da]=Logind-skærm
Name[de]=Anmeldefenster
Name[dz]=ནང་བསྐྱོད་སྒོ་སྒྲིག
Name[el]=Παράθυρο εισόδου
Name[en_CA]=Login Window
Name[en_GB]=Login Window
Name[eo]=Salutfenestro
Name[es]=Ventana de inicio de sesión
Name[et]=Sisselogimisaken
Name[eu]=Saio-hasieraren leihoa
Name[fa]=پنجرهٔ ورود به سیستم
Name[fi]=Kirjautumisikkuna
Name[fr]=Fenêtre de connexion
Name[ga]=Fuinneog Logála Isteach
Name[gl]=Xanela de inicio de sesión
Name[gu]=પ્રવેશ વિન્ડો
Name[he]=חלון התחברות
Name[hi]=लॉगइन विंडो
Name[hr]=Prozor za prijavu
Name[hu]=Bejelentkezési ablak
Name[id]=Jendela Login
Name[it]=Finestra di accesso
Name[ja]=ログイン画面
Name[ka]=შემოსასვლელი სარკმელი
Name[kk]=Кіру терезесі
Name[kn]=ಪ್ರವೇಶ ವಿಂಡೊ
Name[ko]=로그인 창
Name[ku]=Paceya Têketinê
Name[lt]=Prisijungimo langas
Name[lv]=Pieslēgšanās logs
Name[mai]=लोगिन विंडो
Name[mg]=Fikandran'ny fidirana
Name[mk]=Прозорец за најава
Name[ml]=ലോഗിന്‍ ജാലകം
Name[mr]=दाखलन चौकट
Name[nb]=Påloggingsvindu
Name[nds]=Anmellenfinster
Name[ne]=सञ्झ्याल लगइन गर्नुहोस्
Name[nl]=Aanmeldvenster
Name[nn]=Innloggingsvindauge
Name[or]=ଲଗଇନ ଓ୍ବିଣ୍ଡୋ
Name[pa]=ਲਾਗਇਨ ਵਿੰਡੋ
Name[pl]=Okno logowania
Name[ps]=ننوتنې کړکۍ
Name[pt]=Janela de Início de Sessão
Name[pt_BR]=Janela de início de sessão
Name[ro]=Fereastră de autentificare
Name[ru]=Окно входа в систему
Name[sk]=Prihlasovacie okno
Name[sl]=Prijavno okno
Name[sq]=Dritarja e hyrjes
Name[sr]=Прозор за пријаву
Name[sr@latin]=Prozor za prijavu
Name[sv]=Inloggningsfönster
Name[ta]=புகுபதிவு சாளரம்
Name[te]=లాగిన్ విండో
Name[th]=หน้าจอเข้าระบบ
Name[tr]=Giriş Penceresi
Name[uk]=Вікно входу в систему
Name[uz]=Tizimga kirish oynasi
Name[uz@cyrillic]=Тизимга кириш ойнаси
Name[vi]=Cửa sổ Đăng nhập
Name[zh_CN]=登录窗口
Name[zh_HK]=登入畫面
Name[zh_TW]=登入畫面
Exec=/usr/libexec/gdm-simple-greeter
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
