[Desktop Entry]
Type=Application
Name=GNOME Settings Daemon
Name[ar]=عفريت إعدادات جنوم
Name[as]=GNOME পছন্দৰ ডেমন
Name[ast]=Degorriu d'axustes de GNOME
Name[be]=Дэман настаўленняў GNOME
Name[be@latin]=Deman naładaŭ GNOME
Name[bg]=Демон за настройките на GNOME
Name[bn]=GNOME বৈশিষ্ট্য সংক্রান্ত ডেমন
Name[bn_IN]=GNOME বৈশিষ্ট্য সংক্রান্ত ডেমন
Name[ca]=Dimoni dels paràmetres del GNOME
Name[ca@valencia]=Dimoni dels paràmetres del GNOME
Name[crh]=GNOME Tesbitleri Cını
Name[cs]=Démon nastavení GNOME
Name[da]=GNOME-indstillingsdæmon
Name[de]=GNOME Verwaltungsdienst
Name[el]=Ρυθμίσεις GNOME λειτουργία υπόβαθρου
Name[en_GB]=GNOME Settings Daemon
Name[es]=Administrador de preferencias de GNOME
Name[et]=GNOME sätetedeemon
Name[eu]=GNOMEren ezarpenen daemon-a
Name[fi]=Gnomen asetuspalvelin
Name[fr]=Service des paramètres GNOME
Name[ga]=Deamhan Socruithe GNOME
Name[gl]=Demoño de configuracións do Gnome
Name[gu]=GNOME સુયોજનાઓ ડેઇમોન
Name[he]=מנוע הגדרות של GNOME
Name[hi]=GNOME सेटिंग डेमॉन
Name[hu]=GNOME beállításdémon
Name[id]=Daemon Penataan GNOME
Name[it]=Demone impostazioni di GNOME
Name[ja]=GNOME 設定デーモン
Name[kk]=GNOME баптаулар қызметі
Name[kn]=GNOME ಸಂಯೋಜನೆಗಳ ಡೀಮನ್
Name[ko]=그놈 설정 데몬
Name[lt]=GNOME nustatymų tarnyba
Name[lv]=GNOME iestatījumu dēmons
Name[mai]=GNOME सेटिंग डेमान
Name[mk]=Демон за поставувања на GNOME
Name[ml]=ഗ്നോം ക്രമീകരണ ഡെമണ്‍
Name[mr]=GNOME संयोजना डीमन
Name[nb]=Tjeneste for innstillinger
Name[nds]=GNOME Instellen daemon
Name[nl]=Gnome instellingenservice
Name[nn]=GNOME innstillingsnisse
Name[or]=GNOME ବିନ୍ୟାସ ଡେମନ
Name[pa]=ਗਨੋਮ ਸੈਟਿੰਗ ਡੈਮਨ
Name[pl]=Usługa ustawień GNOME
Name[pt]=Daemon de Definições do GNOME
Name[pt_BR]=Serviço de configurações do GNOME
Name[ro]=Demon al preferințelor GNOME
Name[ru]=Демон настроек среды GNOME
Name[sk]=Démon nastavení GNOME
Name[sl]=GNOME demon nastavitev
Name[sq]=Administratori i rregullimeve të GNOME
Name[sr]=Демон подешавања Гнома
Name[sr@latin]=Demon podešavanja Gnoma
Name[sv]=GNOME-inställningsdemon
Name[ta]=GNOME அமைவுகள் டீமான்
Name[te]=GNOME అమర్పుల డెమోన్
Name[th]=ดีมอนค่าตั้ง GNOME
Name[tr]=GNOME Ayarlar Servisi
Name[uk]=Даемон налаштування GNOME
Name[vi]=Trình Thiết lập GNOME
Name[zh_CN]=GNOME 设置守护程序
Name[zh_HK]=GNOME 設定值伺服程式
Name[zh_TW]=GNOME 設定值伺服程式
TryExec=/usr/libexec/gnome-settings-daemon
Exec=/usr/libexec/gnome-settings-daemon --gconf-prefix=/apps/gdm/simple-greeter/settings-manager-plugins
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
