[Desktop Entry]
Name=GNOME Screen Magnifier
Name[af]=GNOME-vergrootglas
Name[ar]=مكبر شاشة جنوم
Name[as]=GNOME পৰ্দ্দা পৰিবৰ্দ্ধক
Name[ast]=Magnificador de pantalla de GNOME
Name[be]=Павелічальнік экрану GNOME
Name[be@latin]=Lupa dla ekranu GNOME
Name[bg]=Лупа на GNOME
Name[bn]=GNOME পর্দা বিবর্ধক
Name[bn_IN]=GNOME পর্দা বিবর্ধক ব্যবস্থা
Name[ca]=Ampliador de pantalla del GNOME
Name[ca@valencia]=Ampliador de pantalla del GNOME
Name[crh]=GNOME Ekran Büyüticisi
Name[cs]=Lupa obrazovky GNOME
Name[da]=GNOME-skærmforstørrelse
Name[de]=GNOME Bildschirmlupe
Name[el]=Μεγεθυντής οθόνης GNOME
Name[en_GB]=GNOME Screen Magnifier
Name[es]=Magnificador de pantalla de GNOME
Name[et]=GNOME ekraaniluup
Name[eu]=GNOMEren pantailaren lupa
Name[fi]=Gnomen suurennuslasi
Name[fr]=Loupe d'écran GNOME
Name[ga]=Formhéadaitheoir Scáileáin GNOME
Name[gl]=Lupa de pantalla de Gnome
Name[gu]=GNOME સ્ક્રીન આવર્ધક
Name[he]=מגדיל המסך של GNOME
Name[hi]=गनोम स्क्रीन आवर्द्धक
Name[hu]=GNOME képernyő-nagyító
Name[id]=Pembesar Layar GNOME
Name[it]=Ingranditore schermo di GNOME
Name[ja]=GNOME 拡大鏡
Name[kk]=GNOME экран ұлғайтқышы
Name[kn]=GNOME ತೆರೆ ಮ್ಯಾಗ್ನಿಪೈರ್
Name[ko]=그놈 화면 돋보기
Name[lt]=GNOME ekrano lupa
Name[lv]=GNOME ekrāna palielinātājs
Name[mai]=गनोम स्क्रीन आवर्द्धक
Name[mk]=Зголемувач на екранот на GNOME
Name[ml]=ഗ്നോം സ്ക്രീന്‍ മാഗ്നിഫയര്‍
Name[mr]=GNOME पडदा वर्धक
Name[nb]=Forstørrelsesglass for skjerm
Name[nds]=GNOME Billschirmvergröterer
Name[nl]=Gnome vergrootglas
Name[nn]=GNOME skjermforstørrar
Name[or]=GNOME ପରଦା ଆକାର ବର୍ଦ୍ଧନକର୍ତ୍ତା
Name[pa]=ਗਨੋਮ ਸਕਰੀਨ ਵੱਡਦਰਸ਼ੀ
Name[pl]=Lupa ekranowa GNOME
Name[pt]=Ampliador de Ecrã do GNOME
Name[pt_BR]=Ampliador de tela do GNOME
Name[ro]=Lupă de ecran GNOME
Name[ru]=Увеличитель экрана GNOME
Name[sk]=Lupa obrazovky
Name[sl]=GNOME zaslonsko povečevalo
Name[sq]=Zmadhuesi i ekranit të GNOME
Name[sr]=Гномово увећање екрана
Name[sr@latin]=Gnomovo uvećanje ekrana
Name[sv]=GNOME Skärmförstorare
Name[ta]=GNOME திரை பெரிதாக்கி
Name[te]=GNOME తెరను పెంచునది
Name[th]=แว่นขยายหน้าจอของ GNOME
Name[tr]=GNOME Ekran Bütüteci
Name[uk]=Лупа стільниці GNOME
Name[uz]=GNOME ekranni kattalashtirgich
Name[uz@cyrillic]=GNOME экранни катталаштиргич
Name[vi]=Kính lúp Màn hình GNOME
Name[zh_CN]=GNOME 屏幕放大镜
Name[zh_HK]=GNOME 螢幕放大鏡
Name[zh_TW]=GNOME 螢幕放大鏡
Comment=Magnify parts of the screen
Comment[af]=Vergroot dele van die skerm
Comment[ar]=يكبر أجزاء من الشاشة
Comment[as]=পৰ্দ্দাৰ কিছু অংশ বিবৰ্দ্ধন কৰক
Comment[ast]=Magnificar partes de la pantalla
Comment[be]=Павялічвае часткі экрану
Comment[be@latin]=Pavialičvaje častki ekranu
Comment[bg]=Увеличаване на части от екрана
Comment[bn]=পর্দার একটি অংশ বিবর্ধন করা হবে
Comment[bn_IN]=পর্দার অংশ বড় করে প্রদর্শন করা হবে
Comment[ca]=Amplia parts de la pantalla
Comment[ca@valencia]=Amplia parts de la pantalla
Comment[crh]=Ekrannıñ qısımlarını büyüt
Comment[cs]=Zvětšuje dané oblasti na obrazovce
Comment[da]=Forstør dele af skærmen
Comment[de]=Teile des Bildschirms vergrößern
Comment[el]=Μεγέθυνση τμημάτων της οθόνης
Comment[en_GB]=Magnify parts of the screen
Comment[es]=Magnificar partes de la pantalla
Comment[et]=Ekraani osade suurendamine
Comment[eu]=Pantailaren zatiak handiagotzen ditu
Comment[fi]=Suurenna osia näytöstä
Comment[fr]=Agrandit des parties de l'écran
Comment[gl]=Ampliar partes da pantalla
Comment[gu]=સ્ક્રીનનાં ભાગોને મોટા કરો
Comment[he]=מגדיל חלקים מהמסך
Comment[hi]=स्क्रीन का कुछ हिस्सा आवर्द्धित करें
Comment[hu]=A képernyő részeinek nagyítása
Comment[id]=Perbesar bagian dari layar
Comment[it]=Ingrandisce parti dello schermo
Comment[ja]=画面の一部を拡大します
Comment[kk]=Экран бөліктерін ұлғайту
Comment[kn]=ತೆರೆಯ ಮೇಲಿನ ಭಾಗಗಳನ್ನು ಹಿಗ್ಗಿಸಿ
Comment[ko]=스크린의 일부분을 확대합니다
Comment[lt]=Didinti ekrano dalis
Comment[lv]=Palielina ekrāna daļas
Comment[mai]=स्क्रीनक किछु अंश आवर्द्धित करू
Comment[mk]=Зголеми делови од екранот
Comment[ml]=സ്ക്രീനിന്റെ ഭാഗങ്ങള്‍ വലുതാക്കുക
Comment[mr]=पडद्यावरील भाग मोठे करा
Comment[nb]=Gjør deler av skjermen større
Comment[nl]=Delen van het scherm uitvergroten
Comment[nn]=Forstørr deler av skjermen
Comment[or]=ପରଦାର ବର୍ଦ୍ଧିତ ଅଂଶ
Comment[pa]=ਸਕਰੀਨ ਦੇ ਭਾਗ ਵੱਡੇ ਕਰੋ
Comment[pl]=Powiększanie fragmentów ekranu
Comment[pt]=Ampliar partes do ecrã
Comment[pt_BR]=Ampliar partes da tela
Comment[ro]=Mărește anumite porțiuni din ecran
Comment[ru]=Увеличивает области экрана
Comment[sk]=Zväčší časti obrazovky
Comment[sl]=Povečaj dele zaslona
Comment[sq]=Zmadhon pjesë të ekranit
Comment[sr]=Увећава делове екрана
Comment[sr@latin]=Uvećava delove ekrana
Comment[sv]=Förstora delar av skärmen
Comment[ta]=திரையின் பெரிதாக்கும் பகுதிகள்
Comment[te]=తెరయొక్క భాగములను పెద్దవిచేయుము
Comment[th]=ขยายดูส่วนต่างๆ ของหน้าจอ
Comment[tr]=Ekranın parçalarını büyütün
Comment[uk]=Збільшити частини екрану
Comment[uz]=Ekran qismini kattalashtirish
Comment[uz@cyrillic]=Экран қисмини катталаштириш
Comment[vi]=Phóng to từng phần màn hình
Comment[zh_CN]=放大屏幕的某一部分
Comment[zh_HK]=螢幕的放大部份
Comment[zh_TW]=螢幕的放大部份
TryExec=magnifier
Exec=magnifier -v -m
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Accessibility;
AutostartCondition=GNOME /desktop/gnome/applications/at/screen_magnifier_enabled
X-GNOME-Provides=screen-magnifier
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-mag
X-GNOME-Bugzilla-Component=general

