[Desktop Entry]
Name=Power Manager
Name[af]=Kragbestuurder
Name[ar]=مدير الطاقة
Name[as]=শক্তি পৰিচালক
Name[ast]=Alministrador d'Enerxía
Name[be]=Кіраўнік сілкавання
Name[be@latin]=Kiraŭnik enerhii
Name[bg]=Управление на захранването
Name[bn]=পাওয়ার ম্যানেজার
Name[bn_IN]=বিদ্যুৎ পরিচালন ব্যবস্থা
Name[ca]=Gestor de l'energia
Name[ca@valencia]=Gestor de l'energia
Name[crh]=Quvet İdarecisi
Name[cs]=Správce napájení
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχειριστής ενέργειας
Name[en_GB]=Power Manager
Name[es]=Gestión de energía
Name[et]=Vooluhaldur
Name[eu]=Energia-kudeatzailea
Name[fi]=Virransäästön hallinta
Name[fr]=Gestionnaire d'énergie
Name[ga]=Bainisteoir Cumhachta
Name[gl]=Xestor de enerxía
Name[gu]=પાવર વ્યવસ્થાપક
Name[he]=מנהל צריכת החשמל
Name[hi]=बिजली प्रबंधक
Name[hu]=Energiakezelő
Name[id]=Manajer Daya
Name[it]=Gestore alimentazione
Name[ja]=電源管理
Name[kk]=Электр қоректендіру менеджері
Name[kn]=ವಿಧ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=전원 관리자
Name[lt]=Energijos valdymas
Name[lv]=Barošanas pārvaldnieks
Name[mai]=बिजली प्रबंधक
Name[mk]=Менаџер на енергија
Name[ml]=പവര്‍ മാനേജര്‍
Name[mr]=पावर व्यवस्थापक
Name[nb]=Strømstyring
Name[nds]=Stromoppasser
Name[nl]=Energiebeheer
Name[nn]=Straumstyring
Name[or]=ଶକ୍ତି ପରିଚାଳକ
Name[pa]=ਊਰਜਾ ਮੈਨੇਜਰ
Name[pl]=Zarządzenie zasilaniem
Name[pt]=Gestor de Energia
Name[pt_BR]=Gerenciador de energia
Name[ro]=Administrator de consum
Name[ru]=Управление питанием
Name[sk]=Správca napájania
Name[sl]=Upravljalnik porabe
Name[sq]=Menazhuesi i energjisë
Name[sr]=Управник потрошњом
Name[sr@latin]=Upravnik potrošnjom
Name[sv]=Strömhanterare
Name[ta]=மின் மேலாளர்
Name[te]=పవర్ నిర్వాహకి
Name[th]=โปรแกรมจัดการพลังงาน
Name[tr]=Güç Yöneticisi
Name[uk]=Керівник живленням
Name[uz]=Quvvat boshqaruvi
Name[uz@cyrillic]=Қувват бошқаруви
Name[vi]=Quản lý Năng lượng
Name[zh_CN]=电源管理器
Name[zh_HK]=電源管理程式
Name[zh_TW]=電源管理程式
Comment=Power management daemon
Comment[ar]=عفريت إدارة الطاقة
Comment[as]=শক্তি পৰিচালনাৰ ডেমন
Comment[ast]=Degorriu d'alministración d'enerxía
Comment[be]=Дэман кіраўніка сілкаваннем
Comment[be@latin]=Deman, jaki kiruje enerhijaj
Comment[bg]=Демон за управление на захранването
Comment[bn]=পাওয়ার ব্যবস্থাপনার ডেমন
Comment[bn_IN]=বিদ্যুৎ পরিচালন ব্যবস্থার ডেমন
Comment[ca]=Dimoni de la gestió de l'energia
Comment[ca@valencia]=Dimoni de la gestió de l'energia
Comment[crh]=Quvet idaresi cını
Comment[cs]=Démon správy napájení
Comment[da]=Strømstyringsdæmon
Comment[de]=Energieverwaltungsdienst
Comment[el]=Διαχείριση ενέργειας λειτουργία υπόβαθρου
Comment[en_GB]=Power management daemon
Comment[es]=Demonio del gestor de energía
Comment[et]=Vooluhalduri deemon
Comment[eu]=Energia kudeatzeko daemon-a
Comment[fi]=Virransäästön palvelinprosessi
Comment[fr]=Service de gestion d'énergie
Comment[gl]=Demoño de xestión de enerxía
Comment[gu]=પાવર વ્યવસ્થાપક ડેઇમોન
Comment[he]=מנוע ניהול צריכת החשמל
Comment[hi]=बिजली प्रबंधन डेमॉन
Comment[hu]=Energiakezelő démon
Comment[id]=Daemon manajemen daya
Comment[it]=Demone di gestione dell'alimentazione
Comment[ja]=電源管理のデーモンです
Comment[kk]=Электр қоректендіру менеджер қызметі
Comment[kn]=ವಿಧ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪನೆ ಡೀಮನ್
Comment[ko]=전원 관리 데몬
Comment[lt]=Energijos valdymo tarnyba
Comment[lv]=Barošanas pārvaldības dēmons
Comment[mai]=बिजली प्रबंधन डेमान
Comment[mk]=Демон за менаџмент на енергија
Comment[ml]=പവര്‍ മാനേജ്മെന്റ് ഡെമണ്‍
Comment[mr]=पावर व्यवस्थापन डीमन
Comment[nb]=Tjeneste for strømstyring
Comment[nds]=Stromoppassen daemon
Comment[nl]=Energiebeheer-service
Comment[nn]=Straumstyringsnisse
Comment[or]=ଶକ୍ତି ପରିଚାଳନ ଡେମନ
Comment[pa]=ਊਰਜਾ ਪਰਬੰਧ ਡੈਮਨ
Comment[pl]=Usługa zarządzania zasilaniem
Comment[pt]=Daemon de gestão de energia
Comment[pt_BR]=Serviço gerenciador de energia
Comment[ro]=Demon al administratorului de consum
Comment[ru]=Демон управления питанием
Comment[sk]=D=mon správy napájania
Comment[sl]=Demon upravitelja porabe
Comment[sq]=Demoni i menazhuesit të energjisë
Comment[sr]=Демон управљања потрошњом
Comment[sr@latin]=Demon upravljanja potrošnjom
Comment[sv]=Strömhanteringsdemon
Comment[ta]=மின் மேலாண்மை டீமான்
Comment[te]=పవర్ నిర్వాహకి డెమోన్
Comment[th]=ดีมอนจัดการพลังงาน
Comment[tr]=Güç yönetimi servisi
Comment[uk]=Даемон керування живленням
Comment[uz]=Quvvat boshqaruvi demoni
Comment[uz@cyrillic]=Қувват бошқаруви демони
Comment[vi]=Trình Quản lý Năng lượng
Comment[zh_CN]=电源管理守护程序
Comment[zh_HK]=電源管理伺服程式
Comment[zh_TW]=電源管理伺服程式
Icon=gnome-power-manager
Exec=gnome-power-manager
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-power-manager
X-GNOME-Bugzilla-Component=gnome-power-manager
X-GNOME-Bugzilla-Version=@VERSION@
X-GNOME-Bugzilla-ExtraInfoScript=gnome-power-bugreport.sh
