[Desktop Entry]
Name=Orca Screen Reader
Name[af]=Orca-skermleser
Name[ar]=قارئ الشاشة أوركا
Name[as]=Orca Screen Reader
Name[ast]=Llector de pantalla Orca
Name[be]=Чытач экрана Orca
Name[be@latin]=Čytańnie nadpisaŭ z ekranu Orca
Name[bg]=Екранен четец (Orca)
Name[bn]=Orca পর্দা পাঠক
Name[bn_IN]=Orca পর্দা পাঠ ব্যবস্থা সক্রিয় করা হবে
Name[br]=Lenner skramm Orca
Name[ca]=Lector de pantalla Orca
Name[ca@valencia]=Lector de pantalla Orca
Name[crh]=Orca Ekran Oquyıcısı
Name[cs]=Čtení obrazovky Orca
Name[da]=Orca-skærmlæseren
Name[de]=Orca Bildschirmleser
Name[el]=Ενεργοποίηση εφαρμογής ανάγνωσης οθόνης Orca
Name[en_GB]=Orca Screen Reader
Name[es]=Lector de pantalla Orca
Name[et]=Orca Ekraanilugeja
Name[eu]=Orca pantaila-irakurlea
Name[fi]=Orca-näytönlukija
Name[fr]=Lecteur d'écran Orca
Name[ga]=Léitheoir Scáileáin Orca
Name[gl]=Lector de pantalla Orca
Name[gu]=Orca સ્ક્રીન વાંચનાર
Name[he]=קורא המסך Orca
Name[hi]=ओर्का स्क्रीन रीडर
Name[hu]=Orka képernyő-felolvasó
Name[id]=Pembaca Layar Orca
Name[it]=Lettore dello schermo Orca
Name[ja]=Orca スクリーン・リーダ
Name[kk]=Orca Экранды Оқу
Name[kn]=ಓರ್ಕಾ ತೆರೆ ಓದುಗ
Name[ko]=오르카 화면 읽기
Name[lt]=Orca ekrano skaitytuvas
Name[lv]=Orca ekrāna lasītājs
Name[mai]=ओर्का स्क्रीन रीडर
Name[mk]=Orca - читач на екран
Name[ml]=ഓര്‍കാ സ്ക്രീന്‍ റീഡര്‍
Name[mr]=Orca पडदा वाचक
Name[nb]=Orca skjermleser
Name[nl]=Orca Schermlezer
Name[nn]=Orca skjermlesar
Name[or]=Orca ପରଦା ପାଠକ
Name[pa]=ਓਰਕਾ ਸਕਰੀਨ ਰੀਡਰ
Name[pl]=Czytnik ekranowy Orca
Name[pt]=Locução de Ecrã Orca
Name[pt_BR]=Leitor de tela Orca
Name[ro]=Cititorul de ecran Orca
Name[ru]=Чтение c экрана Orca
Name[sk]=Čítanie obrazovky
Name[sl]=Orka zaslonski bralnik
Name[sq]=Orca - lexuesi i ekranit
Name[sr]=Читач екрана Орка
Name[sr@latin]=Čitač ekrana Orka
Name[sv]=Skärmläsaren Orca
Name[ta]=Orca திரை வாசிப்பி
Name[te]=Orca తెరను చదువునది
Name[th]=Orca: โปรแกรมอ่านหน้าจอ
Name[tr]=Orca Ekran Okuyucu
Name[uk]=Читач екрану Orca
Name[vi]=Bộ đọc màn hình Orca
Name[zh_CN]=Orca 屏幕读取器
Name[zh_HK]=Orca 螢幕閱讀器
Name[zh_TW]=Orca 螢幕閱讀器
Comment=Present on-screen information as speech or braille
Comment[af]=Bied inligting op die skerm aan as spraak of braille
Comment[ar]=يقدم ما على الشاشة من معلومات منطوقة أو بطريقة برايل
Comment[as]=পৰ্দ্দাৰ তথ্যক বানী বা ব্ৰেইলি আখৰ হিচাপে প্ৰস্তুত কৰক
Comment[ast]=Presentar información en pantalla como voz o Braille
Comment[be]=Чытаць ці адлюстроўваць азбукай Брайля звесткі з экрана
Comment[be@latin]=Pramaŭlaje ci padaje ŭ syhnałach Brailla tekst z ekranu
Comment[bg]=Представяне на информация от екрана чрез реч или брайл
Comment[bn]=ভাষ্য অথবা ব্রেইলের মাধ্যমে পর্দায় তথ্য উপস্থাপন করা হবে
Comment[bn_IN]=ভাষ্য অথবা ব্রেইলের মাধ্যমে পর্দায় উপস্থিত তথ্য প্রস্তুত করা হবে
Comment[ca]=Presenta la informació en pantalla amb un sintetitzador de veu o en Braille
Comment[ca@valencia]=Presenta la informació en pantalla amb un sintetitzador de veu o en Braille
Comment[crh]=Ekran-üstü malümatnı nutuq yaki qabartma yazı olaraq taqdim et
Comment[cs]=Zprostředkovat informace na obrazovce řečí nebo Braillovým písmem
Comment[da]=Presenter information på skærmen som tale eller blindeskrift
Comment[de]=Bildschirminformationen als Sprache oder Braille darstellen
Comment[el]=Παρούσα πληροφορία στην οθόνη με μορφή ομιλίας ή braille
Comment[en_GB]=Present on-screen information as speech or braille
Comment[es]=Presentar información en pantalla como voz o Braille
Comment[et]=Ekraanil olevate andmete esitamine braille kõnena
Comment[eu]=Azaldu pantailako informazioa hitzeginez edo Braille gisa
Comment[fi]=Esitä näytön tietoja puheena tai braillena
Comment[fr]=Présente les informations de l'écran sous forme vocale ou en braille
Comment[gl]=Presentar a información en pantalla como voz ou braille
Comment[gu]=ઓન-સ્ક્રીન માહિતી બોલવા અથવા બ્રૈલે તરીકે હાજર કરો
Comment[he]=מציג מידע על גבי המסך כגון דיבור או כתב ברייל
Comment[hi]=बतौर भाषण या ब्रेल ऑनस्क्रीन सूचना दें
Comment[hu]=A megjelenő információk átalakítása beszéddé vagy braille-kimenetté
Comment[id]=Sajikan informasi di layar sebagai pidato atau braille
Comment[it]=Fornisce le informazioni sullo schermo come parlato o braille
Comment[ja]=音声または点字で画面上の情報を提供します
Comment[kk]=Экрандағы ақпараттын бар болуы, оқу не braille
Comment[kn]=ಮಾತಾಗಿ ಅಥವ ಬ್ರೈಲ್‌ ಆಗಿ ತೆರೆಯ ಮೇಲೆ ಮಾಹಿತಿಯನ್ನು ತೋರಿಸು
Comment[ko]=화면의 정보를 음성이나 점자로 표시합니다
Comment[lt]=Pateikti informaciją ekrane kaip kalbą arba Brailio raštą
Comment[mai]=भाषण या ब्रेल रूपेँ आनस्क्रीन सूचना दिअ'
Comment[mk]=Претстави ги информациите на екранот на брајов екран или со говор
Comment[ml]=ഓണ്‍ സ്ക്രീന്‍ വിവരങ്ങള്‍ ഒരു സംഭാഷണം അല്ലെങ്കില്‍ ബ്രെയിലി ആയി ലഭ്യമാക്കുക
Comment[mr]=ऑन-स्क्रीन माहिती वाचा किंवा ब्रैल नुरूप प्रस्तुत करा
Comment[nb]=Vis informasjon på skjermen som tale eller blindeskrift
Comment[nl]=Gegevens op het scherm weergeven via spraak of braille
Comment[nn]=Legg fram informasjon på skjermen som tale eller blindeskrift
Comment[or]=ଅନ-ସ୍କ୍ରିନ ସୂଚନାକୁ ବାର୍ତ୍ତାଳାପ ଅଥବା ବ୍ରେଲି ଲିପିରେ ଉପସ୍ଥାପନ କରନ୍ତୁ
Comment[pa]=ਸਕਰੀਨ ਦੀ ਜਾਣਕਾਰੀ ਨੂੰ ਬੋਲ ਕੇ ਬਰਾਇੱਲ ਭਾਸ਼ਾ ਦੇ ਰੂਪ ਵਿੱਚ ਦਿਓ
Comment[pl]=Wyświetlanie informacji na ekranie jako mowy lub Braille
Comment[pt]=Apresentar a informação do ecrã como locução ou braille
Comment[pt_BR]=Apresenta informações na tela como fala ou braile
Comment[ro]=Prezintă informațiile de pe ecran prin sinteză vocală ori în sistem Braille
Comment[ru]=Читает содержимое экрана или отображает его на дисплее Брайля
Comment[sk]=Poskytuje informácie z obrazovky rečou alebo braillovým písmom
Comment[sl]=Predstavi zaslonske podrobnosti kot govor ali braille
Comment[sq]=Paraqet informacione në ekran si shqiptimi ose braille
Comment[sr]=Изговара податке са екрана или користи Брајову азбуку
Comment[sr@latin]=Izgovara podatke sa ekrana ili koristi Brajovu azbuku
Comment[sv]=Presentera information på skärmen som uppläst tal eller punktskrift
Comment[ta]=பேச்சு அல்லது brailleஆக தகவல் திரையில் தோன்றுகிறது
Comment[te]=తెరపైని సమాచారమును సంభాషణవలె గాని లేదా బ్రెయిలీవలె గాని సమర్పించుము
Comment[th]=นำเสนอข้อมูลหน้าจอเป็นเสียงพูดหรืออักษรเบรลล์
Comment[tr]=Konuşma ya da körler alfabesi olarak mevcut ekran bilgisini sun
Comment[uk]=Представляти інформацію на екрані як розмову або шрифтом Брайля
Comment[vi]=Trình bày thông tin trên màn hình dạng tiếng nói hoặc chữ nổi
Comment[zh_CN]=将屏幕上的信息展示为语音或盲文
Comment[zh_HK]=將螢幕上的資訊以語音或點字呈現
Comment[zh_TW]=將螢幕上的資訊以語音或點字呈現
TryExec=orca
Exec=orca --no-setup --disable main-window --disable magnifier --enable speech
Icon=orca
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Accessibility;
AutostartCondition=GNOME /desktop/gnome/applications/at/screen_reader_enabled
X-GNOME-Provides=screen-reader
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=orca
X-GNOME-Bugzilla-Component=general

